html {
	font-size: 4em;
}

h1 {
	position: fixed;
	right: 0;
	top: -.7em;
	font-size: calc(11vh + 11vw);
	/* height: 100px; */
	transform: rotate(-90deg);
	transform-origin: 100% 100%;
	margin: 0;
}

.wrapper {
	max-width: 15rem;
	margin: 0 auto;
	padding-top: 50px;
	padding-left: 100px;
	padding-right: 300px;
	color: #bbb;
}

ol {
	margin: 0;
	padding: 0;
}

li {
	margin-bottom: .4em;
}

a {
	text-decoration: none;
	vertical-align: middle;
	transition: .4s;
	word-wrap: break-word;
}

a[href]{
	color: black;
}

a ~ a {
	display: inline-block;
	border: 1px solid black;
	border-radius: 50%;
	overflow: hidden;
	text-indent: 1em;
	width: .3em;
	height: .3em;
	vertical-align: middle;
	transition: .4s;
}

a ~ a:hover {
	border-color: transparent;
}

a:focus {
	outline: 0;
}

.font-family {
	font-size: .5em;
}

.url {
	position: fixed;
	right: 30px;
	bottom: 20px;
	background: rgba(255,255,255,.9);
	padding: 5px;
	color: black;
	font-size: 22px;
}

.logomark img {
	width: 2em;
	margin-left: .5em;
	vertical-align: middle;
}