* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: aktiv-grotesk, sans-serif;
	line-height: 1.4;
	background-size: 10rem;
	/* background-image: url('grid.svg'); */
	background-position: calc(50% - 81px) 50%;
}

.logo {
	margin-top: 2rem;
}

a {
	color: #667bc4;
}

h2, h3, h4, h5, h6 {
	margin-top: 0;
}

* + h2, * + h3, * + h4, * + h5, * + h6 {
	margin-top: 2.5em;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.3rem;
}

.wrapper {
	max-width: 42rem;
	margin: 0 auto;
	padding: 0 1rem;
}

section {
	padding: 2.5rem 0;
}

.button {
	display: inline-block; 
	background: #66b583;
	border: 1px #66b583 solid;
	padding: .8rem 1rem;
	color: white;
	font-size: 1rem;
	text-decoration: none;
}

.big-text {
	margin-top: 2rem;
	font-size: 10vw;
	font-weight: 900;
	line-height: 1.1;

}

@media (min-width: 1300px) {
	.big-text {
		font-size: 8.1rem;
	}
}

.reverse-section {
	background: hsla(0, 0%, 93%, .5);
}

.connect-content {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

[type=email],
[type=text] {
	border: 1px solid #aaa;
	padding: .8rem;
	font-size: 1rem;

}

.mc-form {
	display: flex;
	margin: 0 2rem 2rem 0;
}

@media (max-width: 500px){
	.mc-form {
		margin-right: 0;
	}
}

.mc-form [type="email"] {
	width: 100%;
	border-right: 0;
}

.social {
	margin: -6px 0 0;
	padding: 0;
	list-style: none;
}

.social a {
	text-decoration: none;
}

.social svg,
.social span{
	vertical-align: middle;
}

ul {
	list-style: square;
}