<style>
	body{
		background: #333;
		margin: 0;
		cursor: none;
	}
	svg {
		margin-top: 5vh;
		max-height: 90vh;
		}
</style>

<svg id="Poster" 
	xmlns="http://www.w3.org/2000/svg" 
	xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 792 1224">
	<defs>
		<style>.cls-1,.cls-15{fill:none;}.cls-2{clip-path:url(#clip-path);}.cls-3{opacity:0.8;}.cls-4{fill:#f0b31d;}.cls-5{fill:#ef3e29;}.cls-6{fill:#f78c1e;}.cls-7{fill:#0e8341;}.cls-7,.cls-8{opacity:0.6;}.cls-13,.cls-7,.cls-8{isolation:isolate;}.cls-8{fill:#28388e;}.cls-9{fill:#010101;}.cls-10{fill:#f4c232;}.cls-11{fill:#f16150;}.cls-12{fill:#231f20;}.cls-14{fill:#fff;}.cls-15{stroke:#f4c232;stroke-miterlimit:10;stroke-width:6.5px;stroke-dasharray:23 12;}</style>
		<clipPath id="clip-path">
			<rect class="cls-1" x="-18" y="-18" width="828" height="1260"/>
		</clipPath>
	</defs>
	<rect x="-18" y="-18" width="828" height="1260" fill="white"/>

	<g class="cls-2">
		<g class="cls-3">
			<rect class="cls-4" x="89.29" y="521.4" width="158.88" height="52.86" transform="translate(-237.79 143.69) rotate(-28.05)"/>
			<rect class="cls-5" x="142.06" y="468.28" width="53.13" height="159.13" transform="translate(-237.81 143.64) rotate(-28.05)"/>
		</g>
		<rect class="cls-6" x="142.31" y="521.39" width="52.86" height="52.86" transform="translate(-237.78 143.69) rotate(-28.05)"/>
		<rect class="cls-7" x="315.36" y="438.52" width="53.13" height="192.27" transform="translate(-211.25 223.58) rotate(-28.05)"/>
		<circle class="cls-8" cx="307.07" cy="589.62" r="66.43" transform="translate(-326.98 389.83) rotate(-45)"/>
		<path class="cls-9" d="M416.33,506.69l-24.5-46L410,451q11.57-6.17,20.4-3.35t14.67,13.78q6,11.34,3.3,20.49T434.52,497Zm7.21-19.55,4.89-2.6a8.21,8.21,0,0,0,4.8-6.11c.31-2.54-.43-5.63-2.33-9.18a14.93,14.93,0,0,0-6-6.81c-2.28-1.17-4.91-1-7.94.58l-4.88,2.6Z"/>
		<path class="cls-9" d="M488.68,453.75a15.54,15.54,0,0,1-.15,11.94,19.93,19.93,0,0,1-9.12,8.71q-8.61,4.59-15.33,2.16T453,465.91a28.24,28.24,0,0,1-3-8.4,18.08,18.08,0,0,1,.23-7.61,16.47,16.47,0,0,1,3.39-6.48,23.13,23.13,0,0,1,14-7.46,15.45,15.45,0,0,1,7,.81,16.73,16.73,0,0,1,6.07,3.86,26.7,26.7,0,0,1,4.92,6.69l1.85,3.48-20.65,11a7.59,7.59,0,0,0,3.65,3.72,4.82,4.82,0,0,0,3.8-.49,4.07,4.07,0,0,0,2.41-4.85Zm-23.54-6.06a5.08,5.08,0,0,0-2.6,2.88,5.94,5.94,0,0,0,.65,4.36l8.59-4.58a6.54,6.54,0,0,0-3.15-3.16A4.29,4.29,0,0,0,465.14,447.69Z"/>
		<path class="cls-9" d="M505.21,445.28a3.2,3.2,0,0,0,2.43,1.44,6.17,6.17,0,0,0,2.72-.79,4.48,4.48,0,0,0,2-1.71,1.86,1.86,0,0,0-.09-1.8,2.05,2.05,0,0,0-1.24-1,5.61,5.61,0,0,0-2.54.29l-3.62,1.1q-7.36,2.25-11.69,1.31a10.13,10.13,0,0,1-6.79-5.61,10.71,10.71,0,0,1-.4-10.13c1.58-3.3,4.84-6.29,9.74-8.9a27.14,27.14,0,0,1,7-2.7,16.11,16.11,0,0,1,5.79-.24,11.54,11.54,0,0,1,4.66,1.82,15.42,15.42,0,0,1,3.59,3.39L505,429.42a3.41,3.41,0,0,0-4.69-1.14l-.1.06a3.75,3.75,0,0,0-1.7,1.55,1.9,1.9,0,0,0,.08,1.78,1.84,1.84,0,0,0,1.34.95,6.17,6.17,0,0,0,2.69-.36l3.72-1.07a45.21,45.21,0,0,1,6.82-1.45,15.06,15.06,0,0,1,5,.18,8.88,8.88,0,0,1,3.68,1.84,13.43,13.43,0,0,1,2.89,3.85,11.46,11.46,0,0,1,.71,10.45q-2.19,5-10,9.13a37.87,37.87,0,0,1-6,2.55,18.13,18.13,0,0,1-6.15,1,12,12,0,0,1-5.89-1.67,14.8,14.8,0,0,1-4.91-5Z"/>
		<path class="cls-9" d="M509.84,397.82l13.22-7,4.64,8.7-13.22,7Zm6.38,12,13.22-7.05,18.13,34-13.23,7Z"/>
		<path class="cls-9" d="M566.76,427.34a4.35,4.35,0,0,0,2.24,1.74,4.48,4.48,0,0,0,5-3.58,12.79,12.79,0,0,0-2-5.92l-1.33-2.5a12,12,0,0,1-1.81,4.65,12.34,12.34,0,0,1-4.6,3.88,12.73,12.73,0,0,1-11.59.81q-5.55-2.42-9.8-10.41A28.37,28.37,0,0,1,540,408.2a17.59,17.59,0,0,1-.1-6.82,12.87,12.87,0,0,1,2.47-5.4,14.51,14.51,0,0,1,4.63-3.83,11.67,11.67,0,0,1,5.52-1.58,13.87,13.87,0,0,1,5.08,1.06l-1.59-3,12.73-6.78,16.14,30.29q4.56,8.54,2.47,15.05t-10.5,11q-7.59,4.05-13.33,2.93a14.62,14.62,0,0,1-9.41-7ZM563.61,404a11.47,11.47,0,0,0-1.35-2,5.58,5.58,0,0,0-1.6-1.3,3.54,3.54,0,0,0-1.91-.46,4.69,4.69,0,0,0-1.79.53,4,4,0,0,0-2.25,3.07,10.05,10.05,0,0,0,4.47,8.38,4,4,0,0,0,3.76-.24,4.72,4.72,0,0,0,1.56-1.32,3.88,3.88,0,0,0,.61-2,5.42,5.42,0,0,0-.28-2,12.87,12.87,0,0,0-.83-1.86Z"/>
		<path class="cls-9" d="M575,378.48l12.86-6.86,1.89,3.55a14.62,14.62,0,0,1,2.11-5.43,12.82,12.82,0,0,1,4.7-4.07,11.39,11.39,0,0,1,9.54-1q4.51,1.65,7.61,7.45L625.92,395l-13.19,7-10.88-20.42a4.45,4.45,0,0,0-2.06-2.24,2.76,2.76,0,0,0-2.34.25,5,5,0,0,0-1.67,1.39,3.47,3.47,0,0,0-.69,1.85,3.43,3.43,0,0,0,.1,1.15,7,7,0,0,0,.65,1.6l10.54,19.77-13.27,7.07Z"/>
		<path class="cls-9" d="M366.58,413.19l-12.3,6.55-6.69-12.56,38.63-20.58,6.69,12.56-12.3,6.55,17.81,33.43-14,7.48Z"/>
		<path class="cls-9" d="M390.85,384.13l13.24-7.05,8,15.06a14.69,14.69,0,0,1,2.13-5,12.1,12.1,0,0,1,4.59-3.9,11.52,11.52,0,0,1,9.53-1.08c3,1.07,5.59,3.54,7.67,7.45l12.23,22.94L435,419.68l-10.88-20.42A4.41,4.41,0,0,0,422,397a2.7,2.7,0,0,0-2.35.22,5,5,0,0,0-1.68,1.39,3.3,3.3,0,0,0-.68,1.85,4,4,0,0,0,.09,1.15,6.9,6.9,0,0,0,.65,1.59l10.57,19.83-13.26,7.07Z"/>
		<path class="cls-9" d="M429.56,363.51l13.22-7.05,4.63,8.69-13.22,7.05Zm6.38,12,13.22-7,18.12,34-13.22,7.05Z"/>
		<path class="cls-9" d="M455.34,365.14l12.86-6.85,1.89,3.55a14.55,14.55,0,0,1,2.11-5.43,12.56,12.56,0,0,1,4.7-4.07,11.35,11.35,0,0,1,9.54-1,14.68,14.68,0,0,1,7.61,7.43l12.22,22.94-13.2,7L482.19,368.3a4.58,4.58,0,0,0-2.06-2.24,2.77,2.77,0,0,0-2.33.26,4.92,4.92,0,0,0-1.68,1.39,3.27,3.27,0,0,0-.68,1.85,3.71,3.71,0,0,0,.09,1.15,6.9,6.9,0,0,0,.65,1.59l10.55,19.79-13.26,7.07Z"/>
		<path class="cls-9" d="M520.15,356l-1.35,4.6,6,11.21-12.62,6.73-24.51-46,12.61-6.72L511.51,347l3.46-13.6,14.65-7.8-5.14,17.29,24.2,16.22-13.83,7.37Z"/>
		<path class="cls-9" d="M527.59,311.27l13.3-7.08,4.63,8.68L532.22,320Zm6.38,12,13.3-7.09,18.13,34-13.3,7.08Z"/>
		<path class="cls-9" d="M553.39,312.9l12.86-6.85,1.89,3.55a14.16,14.16,0,0,1,2.11-5.43,12.48,12.48,0,0,1,4.7-4.07,11.34,11.34,0,0,1,9.47-1q4.64,1.59,7.72,7.38l12.22,22.94-13.26,7.06-10.88-20.42a4.43,4.43,0,0,0-2.06-2.23,2.78,2.78,0,0,0-2.3.27,5.1,5.1,0,0,0-1.69,1.4,3.3,3.3,0,0,0-.68,1.85,3.71,3.71,0,0,0,.09,1.15,6.49,6.49,0,0,0,.65,1.59l10.53,19.77-13.25,7.06Z"/>
		<path class="cls-9" d="M623.51,320a4.38,4.38,0,0,0,2.23,1.74,3.8,3.8,0,0,0,2.77-.52,3.67,3.67,0,0,0,2.22-3.06,12.93,12.93,0,0,0-2-5.92l-1.34-2.5a11.26,11.26,0,0,1-1.81,4.63,12.1,12.1,0,0,1-4.59,3.9,12.76,12.76,0,0,1-11.6.81q-5.53-2.43-9.79-10.43a28.19,28.19,0,0,1-2.89-7.8,17.35,17.35,0,0,1-.09-6.81,12.61,12.61,0,0,1,2.47-5.41,14.4,14.4,0,0,1,4.63-3.83,11.51,11.51,0,0,1,5.51-1.57,13.22,13.22,0,0,1,5.08,1l-1.58-3,12.74-6.79,16.14,30.28q4.56,8.57,2.45,15.07t-10.49,11q-7.61,4.05-13.32,2.92a14.47,14.47,0,0,1-9.47-7Zm-3.16-23.33a11.47,11.47,0,0,0-1.35-2,5.58,5.58,0,0,0-1.6-1.3,3.4,3.4,0,0,0-1.92-.46,4.48,4.48,0,0,0-1.78.53,4,4,0,0,0-2.25,3.07,10,10,0,0,0,4.45,8.36,4,4,0,0,0,3.77-.22,4.35,4.35,0,0,0,1.56-1.33,3.7,3.7,0,0,0,.61-2,5.29,5.29,0,0,0-.27-2,14.92,14.92,0,0,0-.85-1.87Z"/>
		<rect class="cls-10" x="-7.73" y="-723.02" width="345.85" height="1003.77" transform="translate(123.39 51.71) rotate(-28.05)"/>
		<rect class="cls-11" x="91.6" y="983.9" width="335.11" height="1003.77" transform="translate(-668.22 296.37) rotate(-28.05)"/>
		<path class="cls-12" d="M232.79,834.63l8.43-4.49.78,1.48-6.75,3.59,2.18,4.09,6.39-3.4.8,1.49-6.39,3.41,2.39,4.49,7.1-3.78.51,1.62-8.5,4.53Z"/>
		<path class="cls-12" d="M244.41,833.05l1.84-1,6.9,6.17-1.22-9.2,1.75-.93,1.23,11.46-1.69.9Z"/>
		<path class="cls-12" d="M266.79,829.84a3.8,3.8,0,0,1-.07,2.8,4.94,4.94,0,0,1-2.38,2.28,4.72,4.72,0,0,1-4,.46,6,6,0,0,1-3.09-3,7.73,7.73,0,0,1-.83-2.35,5,5,0,0,1,.08-2.08,4.68,4.68,0,0,1,.89-1.73A5.58,5.58,0,0,1,259,824.9a5.1,5.1,0,0,1,2.07-.65,3.82,3.82,0,0,1,1.79.27,4.52,4.52,0,0,1,1.52,1.05,7.13,7.13,0,0,1,1.23,1.71l.43.81-7,3.73a5,5,0,0,0,.9,1.22,3.53,3.53,0,0,0,1.11.77,2.85,2.85,0,0,0,1.26.23,3.15,3.15,0,0,0,1.36-.4,3.08,3.08,0,0,0,1.5-1.37,2.65,2.65,0,0,0,.1-1.61Zm-3-2.09a5.31,5.31,0,0,0-.8-1.15,2.92,2.92,0,0,0-.95-.69,2.27,2.27,0,0,0-1.13-.19,3.46,3.46,0,0,0-1.31.41,2.89,2.89,0,0,0-1.55,1.82,4.11,4.11,0,0,0,.36,2.67Z"/>
		<path class="cls-12" d="M265.78,821.66l1.57-.83.78,1.46a4.34,4.34,0,0,1,.6-1.87A3.22,3.22,0,0,1,270,819.2a4.76,4.76,0,0,1,.88-.38l.59,1.59-.4.13a3.53,3.53,0,0,0-.42.18,3.22,3.22,0,0,0-.81.64,2.76,2.76,0,0,0-.58,1,2.86,2.86,0,0,0-.2,1.14,2.67,2.67,0,0,0,.33,1.18l3,5.6-1.59.85Z"/>
		<path class="cls-12" d="M279.34,829.13a3.42,3.42,0,0,0,1.12-.36,1.48,1.48,0,0,0,.75-.78,3.73,3.73,0,0,0,0-1.46l-.15-1.21-8.9-7.07,1.84-1,6.93,5.82-1.23-8.85,1.75-.94,1.38,12.53c.05.52.08,1,.08,1.39a4.53,4.53,0,0,1-.12,1.14,2.24,2.24,0,0,1-.46.91,3.14,3.14,0,0,1-1,.73,5.61,5.61,0,0,1-.81.37,5.5,5.5,0,0,1-.88.2Z"/>
		<path class="cls-12" d="M292.08,815.29a3.25,3.25,0,0,0,1.73,1.41,3.33,3.33,0,0,0,2.4-.51,3.14,3.14,0,0,0,1.63-1.68,2.7,2.7,0,0,0-.3-2.2,2.38,2.38,0,0,0-1.63-1.4,3.38,3.38,0,0,0-2.15.46l-1.44.77-.77-1.44,1.5-.8a2.58,2.58,0,0,0,1.33-1.43,2.5,2.5,0,0,0-.29-2,2.1,2.1,0,0,0-1.42-1.18,3.09,3.09,0,0,0-2.09.45,3.24,3.24,0,0,0-1.58,1.49,3.56,3.56,0,0,0-.07,2.1l-1.62.56a5.86,5.86,0,0,1-.24-1.45,4.26,4.26,0,0,1,.23-1.49,4.07,4.07,0,0,1,.88-1.41,6.42,6.42,0,0,1,1.7-1.26,6.08,6.08,0,0,1,1.9-.68,4,4,0,0,1,1.62,0,3.26,3.26,0,0,1,1.29.64,3.67,3.67,0,0,1,.92,1.14,3.74,3.74,0,0,1,.52,2,3.82,3.82,0,0,1-.74,1.92,3.69,3.69,0,0,1,2.25.37,3.85,3.85,0,0,1,1.5,1.61,5.41,5.41,0,0,1,.59,1.72,3.62,3.62,0,0,1-.12,1.67,4,4,0,0,1-.89,1.53,6.15,6.15,0,0,1-1.73,1.29,6.42,6.42,0,0,1-2.33.79,4.51,4.51,0,0,1-1.84-.18,3.47,3.47,0,0,1-1.38-.84,6.26,6.26,0,0,1-.95-1.2Z"/>
		<path class="cls-12" d="M298.8,804.07l1.57-.83.78,1.46a4.3,4.3,0,0,1,.6-1.87A3.31,3.31,0,0,1,303,801.6a4.4,4.4,0,0,1,.88-.37l.58,1.59-.4.13a2.05,2.05,0,0,0-.41.18,3.27,3.27,0,0,0-.82.63,3.2,3.2,0,0,0-.78,2.12,2.56,2.56,0,0,0,.34,1.18l3,5.6-1.58.85Z"/>
		<path class="cls-12" d="M316.47,805a4.8,4.8,0,0,1-.71,1.93,4.1,4.1,0,0,1-1.58,1.4,4.39,4.39,0,0,1-2,.57,4,4,0,0,1-1.81-.38,5.27,5.27,0,0,1-1.57-1.19,9.17,9.17,0,0,1-1.28-1.83,8.21,8.21,0,0,1-.83-2.26,5.4,5.4,0,0,1,0-2,4.17,4.17,0,0,1,.78-1.71,4.86,4.86,0,0,1,1.58-1.28,4.53,4.53,0,0,1,1.67-.51,3.88,3.88,0,0,1,2,.39l-2.52-4.75,1.58-.85,6.95,13-1.55.83Zm-1.93-3.66a5.62,5.62,0,0,0-1.19-1.63,2.75,2.75,0,0,0-1.38-.63,2.68,2.68,0,0,0-1.05,0,3.29,3.29,0,0,0-1,.36,3,3,0,0,0-1,.78,2.39,2.39,0,0,0-.53,1.11,3.79,3.79,0,0,0,0,1.46,7.2,7.2,0,0,0,.71,1.82,6.21,6.21,0,0,0,1.16,1.63,3.53,3.53,0,0,0,1.2.81,2.38,2.38,0,0,0,1.16.15,3,3,0,0,0,1.06-.32,3.77,3.77,0,0,0,.88-.64,3,3,0,0,0,.6-.88,3.12,3.12,0,0,0,.25-1.54,4.63,4.63,0,0,0-.6-1.81Z"/>
		<path class="cls-12" d="M323.27,788.34,319,790.63l-.8-1.49,10.31-5.5.8,1.5-4.31,2.3L331.11,799l-1.7.91Z"/>
		<path class="cls-12" d="M330.39,782.62l1.59-.84,2.66,5a5,5,0,0,1,.84-2.11,4.52,4.52,0,0,1,1.54-1.34,3.42,3.42,0,0,1,2.85-.39A4.27,4.27,0,0,1,342,785.1l3.35,6.28-1.61.85-3.18-6a3.25,3.25,0,0,0-1.45-1.6,2.08,2.08,0,0,0-1.74.23,3.58,3.58,0,0,0-.95.75,2.78,2.78,0,0,0-.63,1.08,3.52,3.52,0,0,0-.24,1.22,2.68,2.68,0,0,0,.38,1.28l3,5.59-1.59.85Z"/>
		<path class="cls-12" d="M343,780.51l1.59-.84,3.17,6a3.52,3.52,0,0,0,1.42,1.63,1.88,1.88,0,0,0,1.69-.2,3.12,3.12,0,0,0,1.5-1.79,3.28,3.28,0,0,0,.25-1.21,2.83,2.83,0,0,0-.38-1.29l-3-5.58,1.59-.85,5,9.44-1.57.83-.78-1.46a5.12,5.12,0,0,1-.79,2.13,4.1,4.1,0,0,1-1.51,1.35,3.25,3.25,0,0,1-2.79.37,4.47,4.47,0,0,1-2.1-2.22Z"/>
		<path class="cls-12" d="M353.68,774.83l1.57-.83.78,1.46a4.3,4.3,0,0,1,.6-1.87,3.31,3.31,0,0,1,1.29-1.23,4.88,4.88,0,0,1,.87-.37l.59,1.58-.4.14a2.05,2.05,0,0,0-.41.18,3.27,3.27,0,0,0-.82.63,3.07,3.07,0,0,0-.58,1,3,3,0,0,0-.2,1.14,2.56,2.56,0,0,0,.34,1.18l3,5.6-1.58.85Z"/>
		<path class="cls-12" d="M365.12,777.31a2.1,2.1,0,0,0,1.57.94,4.07,4.07,0,0,0,2-.58,3.14,3.14,0,0,0,1.49-1.32,1.5,1.5,0,0,0-.08-1.35,2.14,2.14,0,0,0-.34-.49,1.09,1.09,0,0,0-.48-.3,1.65,1.65,0,0,0-.69-.07,4,4,0,0,0-1,.22l-1.3.46a10.43,10.43,0,0,1-1.58.42,3.81,3.81,0,0,1-1.3,0,2.16,2.16,0,0,1-1.05-.45,2.91,2.91,0,0,1-.81-1,2.65,2.65,0,0,1-.34-1.32,3.1,3.1,0,0,1,.32-1.28,4.41,4.41,0,0,1,.9-1.18,6.21,6.21,0,0,1,1.38-1,6.89,6.89,0,0,1,1.82-.71,3.59,3.59,0,0,1,1.41-.05,2.62,2.62,0,0,1,1.11.46,4.93,4.93,0,0,1,.9.81l-1.31,1a4.77,4.77,0,0,0-.65-.52,2,2,0,0,0-.7-.25,2.16,2.16,0,0,0-.82.07,4.29,4.29,0,0,0-1,.42,4.48,4.48,0,0,0-1,.7,2.33,2.33,0,0,0-.54.69,1.33,1.33,0,0,0-.13.65,1.34,1.34,0,0,0,.17.58,2,2,0,0,0,.35.48.93.93,0,0,0,.48.25,1.85,1.85,0,0,0,.71,0,5.08,5.08,0,0,0,1-.25l1.49-.51a5.1,5.1,0,0,1,2.89-.32,2.9,2.9,0,0,1,1.77,1.58,3,3,0,0,1,.35,1.23,2.71,2.71,0,0,1-.25,1.26,3.8,3.8,0,0,1-.87,1.21,6.63,6.63,0,0,1-1.55,1.1,8.4,8.4,0,0,1-1.68.69,4.67,4.67,0,0,1-1.59.17,3.25,3.25,0,0,1-1.41-.45,3.56,3.56,0,0,1-1.16-1.21Z"/>
		<path class="cls-12" d="M381.33,770.48a4.79,4.79,0,0,1-.7,1.93,4.17,4.17,0,0,1-1.58,1.4,4.42,4.42,0,0,1-2,.57,4,4,0,0,1-1.81-.38,5.14,5.14,0,0,1-1.57-1.19,8.78,8.78,0,0,1-1.28-1.83,7.9,7.9,0,0,1-.83-2.26,5.2,5.2,0,0,1,0-2,4,4,0,0,1,.77-1.71,5,5,0,0,1,1.58-1.28,4.58,4.58,0,0,1,1.68-.51,4,4,0,0,1,2,.38l-2.53-4.74,1.59-.85,6.94,13-1.55.83Zm-1.93-3.66a5.62,5.62,0,0,0-1.18-1.63,3.13,3.13,0,0,0-2.44-.66,3.29,3.29,0,0,0-1,.36,3,3,0,0,0-1,.78,2.5,2.5,0,0,0-.53,1.11,3.62,3.62,0,0,0,0,1.46,7.88,7.88,0,0,0,1.86,3.45,3.56,3.56,0,0,0,1.21.81,2.48,2.48,0,0,0,1.16.16,3.22,3.22,0,0,0,1.05-.33,3.57,3.57,0,0,0,.88-.64,2.92,2.92,0,0,0,.61-.88,3.23,3.23,0,0,0,.25-1.54,4.83,4.83,0,0,0-.61-1.81Z"/>
		<path class="cls-12" d="M391.62,765.07a5.32,5.32,0,0,1-.73,1.76,4.49,4.49,0,0,1-1.72,1.49,5.52,5.52,0,0,1-1.39.52,3.22,3.22,0,0,1-1.31,0,2.7,2.7,0,0,1-1.14-.53,3.48,3.48,0,0,1-.89-1.11,3.06,3.06,0,0,1-.43-1.79,3.25,3.25,0,0,1,.59-1.53,5.9,5.9,0,0,1,1.28-1.32,15.19,15.19,0,0,1,1.67-1.12l1.6-.92-.2-.37a2.73,2.73,0,0,0-1.43-1.46,2.52,2.52,0,0,0-1.94.36,3.33,3.33,0,0,0-1.47,1.25,2,2,0,0,0-.14,1.41l-1.53.6a3,3,0,0,1,.22-2.54,5.61,5.61,0,0,1,2.31-2,5.9,5.9,0,0,1,1.86-.68,3.27,3.27,0,0,1,1.51.1,3,3,0,0,1,1.23.79,6.5,6.5,0,0,1,1,1.42l3.27,6.13-1.53.82Zm-1.87-3.41-1.48.86a9.92,9.92,0,0,0-1.51,1,3.32,3.32,0,0,0-.81.93,1.55,1.55,0,0,0-.2.89,2.5,2.5,0,0,0,.29.93,1.77,1.77,0,0,0,1,.91,2.22,2.22,0,0,0,1.64-.33,3.55,3.55,0,0,0,1.82-1.86,2.72,2.72,0,0,0-.22-2.31Z"/>
		<path class="cls-12" d="M397.46,766.2a3.69,3.69,0,0,0,1.12-.37,1.42,1.42,0,0,0,.75-.78,3.72,3.72,0,0,0,0-1.46l-.15-1.2-8.9-7.07,1.84-1,6.93,5.83-1.23-8.86,1.75-.93L401,762.89c0,.52.08,1,.08,1.4a4,4,0,0,1-.12,1.13,2.18,2.18,0,0,1-.46.91,3.16,3.16,0,0,1-1,.74,6.78,6.78,0,0,1-.81.36,4.55,4.55,0,0,1-.88.21Z"/>
		<path class="cls-12" d="M416,752.1a5.37,5.37,0,0,1-.72,1.76,4.47,4.47,0,0,1-1.72,1.48,5.13,5.13,0,0,1-1.4.53,3.17,3.17,0,0,1-1.3,0,2.7,2.7,0,0,1-1.14-.53,3.64,3.64,0,0,1-.9-1.11,3.14,3.14,0,0,1-.42-1.79,3.22,3.22,0,0,1,.59-1.54,6.08,6.08,0,0,1,1.28-1.31,15.73,15.73,0,0,1,1.67-1.13l1.6-.92-.2-.36a2.8,2.8,0,0,0-1.43-1.46,2.54,2.54,0,0,0-1.95.35,3.42,3.42,0,0,0-1.46,1.26,1.93,1.93,0,0,0-.14,1.4l-1.53.61a3.08,3.08,0,0,1,.21-2.54,5.72,5.72,0,0,1,2.32-2,6.16,6.16,0,0,1,1.85-.67,3.18,3.18,0,0,1,1.52.1,3,3,0,0,1,1.23.79,6.2,6.2,0,0,1,1,1.41l3.27,6.14-1.54.81Zm-1.86-3.41-1.49.86a10.22,10.22,0,0,0-1.51,1,3.43,3.43,0,0,0-.8.93,1.51,1.51,0,0,0-.2.89,2.24,2.24,0,0,0,.29.92,1.76,1.76,0,0,0,1,.92,2.23,2.23,0,0,0,1.64-.33,3.67,3.67,0,0,0,1.82-1.86,2.69,2.69,0,0,0-.23-2.31Z"/>
		<path class="cls-12" d="M417.15,742.63l-1.46.78-.67-1.26,1.46-.78-1.37-2.57,1.59-.85,1.37,2.58,2.5-1.34.67,1.26-2.5,1.34,2.95,5.52a2,2,0,0,0,.9,1,1.26,1.26,0,0,0,1.17-.08,6.27,6.27,0,0,0,.68-.43,4,4,0,0,0,.47-.44l.93,1.07a5.89,5.89,0,0,1-.68.63,6.28,6.28,0,0,1-1,.63,3.55,3.55,0,0,1-1.42.45,2.14,2.14,0,0,1-1.15-.26,3.06,3.06,0,0,1-.95-.83,9.14,9.14,0,0,1-.8-1.26Z"/>
		<path class="cls-12" d="M433.79,731.63a6.76,6.76,0,0,0-.73-.59,2.14,2.14,0,0,0-.73-.32,2,2,0,0,0-.8,0,3.77,3.77,0,0,0-1,.39,3.05,3.05,0,0,0-1.1.93,2.73,2.73,0,0,0-.51,1.38,5.66,5.66,0,0,0,.18,1.93,14.43,14.43,0,0,0,1,2.58,4,4,0,0,1,.73-2,5.06,5.06,0,0,1,1.71-1.41,4.7,4.7,0,0,1,1.91-.61,3.48,3.48,0,0,1,1.65.24,4.11,4.11,0,0,1,1.39,1,6.71,6.71,0,0,1,1.09,1.52,5.57,5.57,0,0,1,.63,1.91,4.32,4.32,0,0,1-1.05,3.42,5.76,5.76,0,0,1-1.62,1.26,4.66,4.66,0,0,1-2.46.64,4.44,4.44,0,0,1-2.06-.63,6.41,6.41,0,0,1-1.68-1.5,13.35,13.35,0,0,1-1.29-2,15.79,15.79,0,0,1-1.55-3.86,7.57,7.57,0,0,1-.16-2.86,4.16,4.16,0,0,1,.88-2,5.29,5.29,0,0,1,1.6-1.3,4.38,4.38,0,0,1,3-.64,4.23,4.23,0,0,1,2.28,1.51Zm2.06,10.25a3,3,0,0,0,1.6-1.84,3.36,3.36,0,0,0-.39-2.53,5.25,5.25,0,0,0-.74-1.06,3,3,0,0,0-.93-.69,2.33,2.33,0,0,0-1.12-.19A3.23,3.23,0,0,0,433,736a4,4,0,0,0-1,.73,2.63,2.63,0,0,0-.64,1,2.92,2.92,0,0,0-.13,1.26,3.78,3.78,0,0,0,.54,1.48,4.07,4.07,0,0,0,.76.94,3.27,3.27,0,0,0,1,.61,2.74,2.74,0,0,0,1.14.19A2.88,2.88,0,0,0,435.85,741.88Z"/>
		<path class="cls-12" d="M442.67,727.42l1.57-.84.72,1.35a4.61,4.61,0,0,1,.71-1.95,4.33,4.33,0,0,1,1.59-1.38,4.57,4.57,0,0,1,1.95-.58,4.12,4.12,0,0,1,1.81.35,5.06,5.06,0,0,1,1.58,1.17,8.64,8.64,0,0,1,1.31,1.86,8,8,0,0,1,.83,2.27,5.19,5.19,0,0,1,0,2,4.21,4.21,0,0,1-.78,1.72,4.69,4.69,0,0,1-1.55,1.28,4.75,4.75,0,0,1-1.75.53,3.87,3.87,0,0,1-2-.4l2.51,4.71-1.59.84Zm4.22,4.14a5.78,5.78,0,0,0,1.05,1.45,3.39,3.39,0,0,0,1.14.76,2.46,2.46,0,0,0,1.2.15,3.8,3.8,0,0,0,1.22-.4,3.45,3.45,0,0,0,1-.78,2.53,2.53,0,0,0,.52-1.11,3.88,3.88,0,0,0,0-1.47,7.38,7.38,0,0,0-.72-1.84,6,6,0,0,0-1.16-1.62,3.5,3.5,0,0,0-1.19-.81,2.44,2.44,0,0,0-1.15-.16,2.75,2.75,0,0,0-1.05.33,3.41,3.41,0,0,0-1,.82,2.84,2.84,0,0,0-.59,1.11,3.11,3.11,0,0,0-.06,1.37,5,5,0,0,0,.55,1.56Z"/>
		<path class="cls-12" d="M453.93,721.42l1.57-.84.77,1.44a5,5,0,0,1,.71-2,3.61,3.61,0,0,1,1.34-1.27,3.38,3.38,0,0,1,1.95-.45,3.07,3.07,0,0,1,1.66.8,5,5,0,0,1,.75-2.1,4.11,4.11,0,0,1,1.52-1.38,3.28,3.28,0,0,1,2.55-.38,3.77,3.77,0,0,1,2.05,2l3.48,6.53-1.59.85-3.28-6.17a5.33,5.33,0,0,0-.68-1,2,2,0,0,0-.68-.5,1.23,1.23,0,0,0-.71-.07,2.36,2.36,0,0,0-.76.28,3.21,3.21,0,0,0-.8.61,3,3,0,0,0-.62,1,2.91,2.91,0,0,0-.2,1.07,2.29,2.29,0,0,0,.29,1.13l3.17,6-1.58.84-3.28-6.15a2.94,2.94,0,0,0-1.35-1.49,1.75,1.75,0,0,0-1.49.17,2.86,2.86,0,0,0-1.34,1.7,4,4,0,0,0-.2,1.06,2.7,2.7,0,0,0,.37,1.38l3,5.62-1.59.84Z"/>
		<path class="cls-12" d="M248.6,864.88l1.7-.9,1,1.84-1.7.91Zm2,3.57,1.59-.84,5,9.43-1.59.85Z"/>
		<path class="cls-12" d="M254.64,866.28l1.57-.83.77,1.44a4.68,4.68,0,0,1,.82-2.15,4.6,4.6,0,0,1,1.56-1.35,3.42,3.42,0,0,1,2.85-.39,4.3,4.3,0,0,1,2.14,2.16l3.35,6.28-1.59.85-3.18-6a3.17,3.17,0,0,0-1.46-1.6,2.1,2.1,0,0,0-1.75.24,3.54,3.54,0,0,0-1,.74,3,3,0,0,0-.63,1.08,3.52,3.52,0,0,0-.24,1.22,2.87,2.87,0,0,0,.38,1.29l3,5.58-1.59.85Z"/>
		<path class="cls-12" d="M270.33,859.54l-1.46.78-.67-1.26,1.46-.78-1.37-2.57,1.59-.85,1.37,2.57,2.5-1.33.67,1.26-2.5,1.33,2.95,5.53a2,2,0,0,0,.9.95,1.23,1.23,0,0,0,1.17-.09,5.05,5.05,0,0,0,.68-.42,3.38,3.38,0,0,0,.47-.45l.93,1.08a6.94,6.94,0,0,1-.68.63,5.62,5.62,0,0,1-1,.62A3.43,3.43,0,0,1,276,867a2.24,2.24,0,0,1-1.15-.26,2.92,2.92,0,0,1-.94-.83,9.43,9.43,0,0,1-.81-1.26Z"/>
		<path class="cls-12" d="M273.53,851.6l1.59-.84,2.66,5a5,5,0,0,1,.84-2.11,4.42,4.42,0,0,1,1.54-1.34,3.42,3.42,0,0,1,2.85-.39,4.2,4.2,0,0,1,2.15,2.16l3.34,6.27-1.6.86-3.18-6a3.25,3.25,0,0,0-1.45-1.6,2,2,0,0,0-1.74.23,3.58,3.58,0,0,0-.95.74,2.77,2.77,0,0,0-.63,1.09,3.47,3.47,0,0,0-.24,1.22,2.68,2.68,0,0,0,.38,1.28l3,5.59-1.59.84Z"/>
		<path class="cls-12" d="M297.63,852.1a3.9,3.9,0,0,1-.07,2.8,4.92,4.92,0,0,1-2.38,2.27,4.72,4.72,0,0,1-4,.46,6,6,0,0,1-3.09-3,7.38,7.38,0,0,1-.83-2.35,5.14,5.14,0,0,1,.07-2.08,4.45,4.45,0,0,1,.9-1.72,5.33,5.33,0,0,1,1.61-1.3,5.22,5.22,0,0,1,2.06-.65,3.84,3.84,0,0,1,1.8.27,4.51,4.51,0,0,1,1.52,1.06,7.5,7.5,0,0,1,1.23,1.71l.43.8-7,3.73a4.74,4.74,0,0,0,.89,1.22,3.68,3.68,0,0,0,1.12.77,2.8,2.8,0,0,0,1.26.23,3.09,3.09,0,0,0,1.35-.39,3.13,3.13,0,0,0,1.5-1.37,2.54,2.54,0,0,0,.1-1.62Zm-3-2.1a5.69,5.69,0,0,0-.8-1.15,2.85,2.85,0,0,0-1-.69,2.37,2.37,0,0,0-1.13-.19,3.28,3.28,0,0,0-1.3.42,2.82,2.82,0,0,0-1.55,1.81,4.17,4.17,0,0,0,.35,2.67Z"/>
		<path class="cls-12" d="M314,841.28a7,7,0,0,1,.49,2.1,5.13,5.13,0,0,1-1.34,3.84,7.09,7.09,0,0,1-2,1.51,7,7,0,0,1-2.67.84,5.48,5.48,0,0,1-2.54-.36,7.11,7.11,0,0,1-2.3-1.53,10.84,10.84,0,0,1-2-2.67,10.29,10.29,0,0,1-1.12-3.16,7.06,7.06,0,0,1,.08-2.8,5.86,5.86,0,0,1,1.14-2.32,6.62,6.62,0,0,1,2.07-1.69,7.11,7.11,0,0,1,2.24-.79,4.74,4.74,0,0,1,2,.08,5,5,0,0,1,1.7.82,8.73,8.73,0,0,1,1.5,1.43l-1.5,1.15a7.29,7.29,0,0,0-1.11-1.06,3.82,3.82,0,0,0-1.2-.62,3.18,3.18,0,0,0-1.31-.08,4.57,4.57,0,0,0-1.51.53,4.1,4.1,0,0,0-2.21,3.09,6,6,0,0,0,.11,2.12,9.82,9.82,0,0,0,.9,2.35,9.47,9.47,0,0,0,1.45,2.05,5.9,5.9,0,0,0,1.7,1.28,4.08,4.08,0,0,0,1.86.42,4.43,4.43,0,0,0,2-.55,5,5,0,0,0,1.4-1,3.08,3.08,0,0,0,.7-1.2,3.57,3.57,0,0,0,.11-1.35,6.78,6.78,0,0,0-.33-1.46Z"/>
		<path class="cls-12" d="M322.7,842.51a5.58,5.58,0,0,1-2.1.67,4.37,4.37,0,0,1-2-.22,4.78,4.78,0,0,1-1.73-1.1A7.49,7.49,0,0,1,315.5,840a7,7,0,0,1-.78-2.26,5.16,5.16,0,0,1,.08-2.08,4.68,4.68,0,0,1,.91-1.79,5.67,5.67,0,0,1,1.7-1.36,5.4,5.4,0,0,1,2.09-.66,4.47,4.47,0,0,1,2,.23,4.91,4.91,0,0,1,1.73,1.08A7.17,7.17,0,0,1,324.6,835a7.29,7.29,0,0,1,.8,2.27,5.16,5.16,0,0,1-.06,2.08,4.53,4.53,0,0,1-.92,1.78A5.69,5.69,0,0,1,322.7,842.51Zm-.68-1.32a3.27,3.27,0,0,0,1.16-1,2.69,2.69,0,0,0,.5-1.25,3.66,3.66,0,0,0-.11-1.45,7.85,7.85,0,0,0-1.59-3,3.61,3.61,0,0,0-1.14-.89,2.86,2.86,0,0,0-1.3-.27,3.26,3.26,0,0,0-1.46.42,3.35,3.35,0,0,0-1.16,1,2.84,2.84,0,0,0-.49,1.24,3.52,3.52,0,0,0,.09,1.43,7.89,7.89,0,0,0,.64,1.59,7,7,0,0,0,1,1.41,3.85,3.85,0,0,0,1.13.89,2.57,2.57,0,0,0,1.31.29A3.33,3.33,0,0,0,322,841.19Z"/>
		<path class="cls-12" d="M331.35,838.65a2.12,2.12,0,0,0,1.43.81,3.94,3.94,0,0,0,2-.59,2.66,2.66,0,0,0,1.63-1.94,4.76,4.76,0,0,0-.72-2.72l-.53-1a4.39,4.39,0,0,1-.69,1.9,4.33,4.33,0,0,1-1.59,1.38,4.46,4.46,0,0,1-2,.58,3.92,3.92,0,0,1-1.8-.36,5.24,5.24,0,0,1-1.54-1.11,7.34,7.34,0,0,1-1.23-1.71,7.2,7.2,0,0,1-.75-2.12,5,5,0,0,1,0-2,4.21,4.21,0,0,1,.8-1.68,4.83,4.83,0,0,1,1.56-1.28,4.58,4.58,0,0,1,1.73-.51,4,4,0,0,1,2.05.42l-.65-1.2,1.57-.84,4.21,7.9a13.72,13.72,0,0,1,1,2.3,4.77,4.77,0,0,1,.25,2,3.35,3.35,0,0,1-.73,1.73,5.93,5.93,0,0,1-1.92,1.49,6.11,6.11,0,0,1-3.28.89,3.19,3.19,0,0,1-2.41-1.53Zm2.09-8.75a5.59,5.59,0,0,0-1.05-1.44,3.06,3.06,0,0,0-1.16-.71,2.43,2.43,0,0,0-1.19-.11,3.76,3.76,0,0,0-1.14.39,3.29,3.29,0,0,0-1,.77,2.42,2.42,0,0,0-.55,1.08,3.19,3.19,0,0,0,0,1.38A5.76,5.76,0,0,0,328,833a5.53,5.53,0,0,0,1.09,1.49,3.39,3.39,0,0,0,1.15.74,2.45,2.45,0,0,0,1.16.13,3.24,3.24,0,0,0,1.08-.33,3.81,3.81,0,0,0,1-.81,2.68,2.68,0,0,0,.58-1.09,3.08,3.08,0,0,0,.07-1.33,5.09,5.09,0,0,0-.55-1.55Z"/>
		<path class="cls-12" d="M335.11,823.41l1.57-.84.77,1.44a4.69,4.69,0,0,1,.82-2.14,4.6,4.6,0,0,1,1.56-1.35,3.4,3.4,0,0,1,2.84-.39,4.23,4.23,0,0,1,2.15,2.16l3.35,6.28-1.59.84-3.18-6a3.26,3.26,0,0,0-1.46-1.6,2.1,2.1,0,0,0-1.75.24,3.58,3.58,0,0,0-.95.75,2.91,2.91,0,0,0-.63,1.08,3.52,3.52,0,0,0-.24,1.22,2.8,2.8,0,0,0,.38,1.28l3,5.59-1.58.84Z"/>
		<path class="cls-12" d="M343.58,814.28l1.69-.9,1,1.84-1.7.9Zm2,3.57,1.59-.85,5,9.44-1.58.84Z"/>
		<path class="cls-12" d="M350.84,816.65l-1.46.77-.67-1.26,1.46-.77-1.38-2.58,1.59-.84,1.37,2.57,2.5-1.33.67,1.26-2.5,1.33,2.95,5.53a2.14,2.14,0,0,0,.9.95,1.26,1.26,0,0,0,1.18-.09,4.23,4.23,0,0,0,1.15-.87l.92,1.08a6,6,0,0,1-.68.63,6.29,6.29,0,0,1-1,.62,3.22,3.22,0,0,1-1.42.45,2.12,2.12,0,0,1-1.14-.25,3.08,3.08,0,0,1-.95-.83,9.41,9.41,0,0,1-.8-1.26Z"/>
		<path class="cls-12" d="M365.09,819.92a5.47,5.47,0,0,1-2.1.67,4.41,4.41,0,0,1-1.95-.22,4.87,4.87,0,0,1-1.73-1.1,7.8,7.8,0,0,1-2.2-4.17,5.15,5.15,0,0,1,.09-2.08,4.68,4.68,0,0,1,.91-1.79,5.67,5.67,0,0,1,1.7-1.36,5.59,5.59,0,0,1,2.08-.66,4.5,4.5,0,0,1,2,.23,4.91,4.91,0,0,1,1.73,1.08,7.29,7.29,0,0,1,1.41,1.9,7.15,7.15,0,0,1,.8,2.26,5.15,5.15,0,0,1-.07,2.08,4.38,4.38,0,0,1-.91,1.78A5.47,5.47,0,0,1,365.09,819.92Zm-.68-1.32a3.4,3.4,0,0,0,1.17-1,2.81,2.81,0,0,0,.5-1.24,3.89,3.89,0,0,0-.11-1.46,7.89,7.89,0,0,0-.64-1.59,7.06,7.06,0,0,0-.95-1.39,3.61,3.61,0,0,0-1.14-.89,2.91,2.91,0,0,0-1.31-.27,3.22,3.22,0,0,0-1.46.43,3.32,3.32,0,0,0-1.16,1,3,3,0,0,0-.49,1.24,3.71,3.71,0,0,0,.1,1.43,7.29,7.29,0,0,0,.63,1.59,7.41,7.41,0,0,0,1,1.41,3.73,3.73,0,0,0,1.13.89,2.56,2.56,0,0,0,1.3.29A3.29,3.29,0,0,0,364.41,818.6Z"/>
		<path class="cls-12" d="M369,800.72l8.08-4.3.79,1.47-6.4,3.42,2.27,4.27,6-3.2.8,1.51-6,3.2,3.07,5.77-1.68.9Z"/>
		<path class="cls-12" d="M390.15,806.57a5.58,5.58,0,0,1-2.1.67,4.56,4.56,0,0,1-1.95-.22,5,5,0,0,1-1.73-1.1A7.49,7.49,0,0,1,383,804a7.25,7.25,0,0,1-.78-2.26,5.14,5.14,0,0,1,.09-2.08,4.68,4.68,0,0,1,.91-1.79,6,6,0,0,1,3.78-2,4.46,4.46,0,0,1,2,.23,4.86,4.86,0,0,1,1.74,1.08,7.23,7.23,0,0,1,1.41,1.89,7.55,7.55,0,0,1,.8,2.27,5.34,5.34,0,0,1-.07,2.08,4.38,4.38,0,0,1-.91,1.78A5.73,5.73,0,0,1,390.15,806.57Zm-.68-1.32a3.4,3.4,0,0,0,1.17-1,2.72,2.72,0,0,0,.49-1.25,3.64,3.64,0,0,0-.1-1.45,7.45,7.45,0,0,0-.64-1.59,7.06,7.06,0,0,0-.95-1.39,3.61,3.61,0,0,0-1.14-.89,2.91,2.91,0,0,0-1.31-.27,3.29,3.29,0,0,0-1.46.42,3.35,3.35,0,0,0-1.16,1,3,3,0,0,0-.49,1.24,3.72,3.72,0,0,0,.1,1.43,7.29,7.29,0,0,0,.63,1.59,7.75,7.75,0,0,0,1,1.41,3.61,3.61,0,0,0,1.13.89,2.64,2.64,0,0,0,1.3.29A3.29,3.29,0,0,0,389.47,805.25Z"/>
		<path class="cls-12" d="M391.7,793.25l1.57-.83.78,1.46a4.58,4.58,0,0,1,.6-1.87,3.46,3.46,0,0,1,1.29-1.23,5.42,5.42,0,0,1,.88-.37l.59,1.59-.4.13a2.41,2.41,0,0,0-.42.18,3.41,3.41,0,0,0-.81.63,2.9,2.9,0,0,0-.58,1,3,3,0,0,0-.2,1.14,2.67,2.67,0,0,0,.33,1.18l3,5.6-1.59.85Z"/>
		<path class="cls-12" d="M398.38,789.69l1.57-.83.77,1.44a5.07,5.07,0,0,1,.71-2,3.69,3.69,0,0,1,1.34-1.27,3.3,3.3,0,0,1,2-.45,3,3,0,0,1,1.66.8,5.11,5.11,0,0,1,.76-2.1,4.08,4.08,0,0,1,1.51-1.38,3.33,3.33,0,0,1,2.55-.39,3.8,3.8,0,0,1,2.05,2l3.49,6.53-1.59.85-3.29-6.17a4.89,4.89,0,0,0-.68-1,1.81,1.81,0,0,0-.68-.51,1.28,1.28,0,0,0-.7-.07,2.89,2.89,0,0,0-.77.28,3.46,3.46,0,0,0-.8.62,3,3,0,0,0-.82,2.05,2.25,2.25,0,0,0,.3,1.13l3.17,5.95-1.59.85L406,789.85a3,3,0,0,0-1.35-1.5,1.79,1.79,0,0,0-1.49.17,2.93,2.93,0,0,0-1.34,1.7,4.09,4.09,0,0,0-.19,1.07,2.58,2.58,0,0,0,.36,1.37l3,5.62-1.59.85Z"/>
		<path class="cls-12" d="M418.68,787.46a2.06,2.06,0,0,0,1.56.93,4,4,0,0,0,2-.57,3.14,3.14,0,0,0,1.49-1.32,1.52,1.52,0,0,0-.08-1.36,2.43,2.43,0,0,0-.34-.48,1.11,1.11,0,0,0-.48-.31,1.85,1.85,0,0,0-.69-.06,4.18,4.18,0,0,0-1,.22l-1.3.45a10,10,0,0,1-1.58.43,4.08,4.08,0,0,1-1.3,0,2.17,2.17,0,0,1-1-.45,3,3,0,0,1-.81-1,2.6,2.6,0,0,1-.34-1.32,2.79,2.79,0,0,1,.32-1.28,4.26,4.26,0,0,1,.9-1.18,6.33,6.33,0,0,1,1.38-1,7.2,7.2,0,0,1,1.81-.71,3.84,3.84,0,0,1,1.42-.05,2.88,2.88,0,0,1,1.11.46,5.78,5.78,0,0,1,.9.81l-1.32,1a4.23,4.23,0,0,0-.65-.52,1.56,1.56,0,0,0-.69-.25,2.34,2.34,0,0,0-.82.06,4.75,4.75,0,0,0-1,.42,4.91,4.91,0,0,0-1,.71,2.28,2.28,0,0,0-.53.69,1.29,1.29,0,0,0-.13.64,1.43,1.43,0,0,0,.16.58,1.86,1.86,0,0,0,.35.48,1,1,0,0,0,.49.26,2.07,2.07,0,0,0,.71,0,5.37,5.37,0,0,0,1-.26l1.49-.51a5.16,5.16,0,0,1,2.88-.32,2.92,2.92,0,0,1,1.77,1.59,2.81,2.81,0,0,1,.36,1.23,2.77,2.77,0,0,1-.25,1.25,3.83,3.83,0,0,1-.87,1.22,6.93,6.93,0,0,1-1.55,1.1,8.66,8.66,0,0,1-1.69.68,4.63,4.63,0,0,1-1.58.18,3.13,3.13,0,0,1-1.41-.46,3.47,3.47,0,0,1-1.16-1.21Z"/>
		<path class="cls-12" d="M425.82,770.46l1.58-.84,7,13-1.59.84Z"/>
		<path class="cls-12" d="M441.22,779.36a5.79,5.79,0,0,1-2.1.68,4.54,4.54,0,0,1-1.95-.23,4.78,4.78,0,0,1-1.73-1.1A7.15,7.15,0,0,1,434,776.8a7,7,0,0,1-.78-2.26,5.34,5.34,0,0,1,.08-2.08,4.7,4.7,0,0,1,.92-1.79,5.5,5.5,0,0,1,1.69-1.36,5.58,5.58,0,0,1,2.09-.66,4.47,4.47,0,0,1,2,.23,5,5,0,0,1,1.74,1.08,7,7,0,0,1,1.4,1.9,6.91,6.91,0,0,1,.8,2.26,5.16,5.16,0,0,1-.06,2.08A4.64,4.64,0,0,1,443,778,5.55,5.55,0,0,1,441.22,779.36Zm-.68-1.32a3.4,3.4,0,0,0,1.17-1,2.79,2.79,0,0,0,.49-1.24,3.7,3.7,0,0,0-.11-1.46,7.29,7.29,0,0,0-.63-1.59,7.08,7.08,0,0,0-1-1.39,3.66,3.66,0,0,0-1.13-.88,2.81,2.81,0,0,0-1.31-.28,3.19,3.19,0,0,0-1.46.43,3.23,3.23,0,0,0-1.16,1,2.84,2.84,0,0,0-.49,1.24,3.59,3.59,0,0,0,.1,1.44,7.42,7.42,0,0,0,.63,1.58,7,7,0,0,0,1,1.41,3.85,3.85,0,0,0,1.13.89,2.59,2.59,0,0,0,1.31.29A3.29,3.29,0,0,0,440.54,778Z"/>
		<path class="cls-12" d="M442.72,766.07l1.58-.84,3.17,5.95a3.52,3.52,0,0,0,1.42,1.63,1.88,1.88,0,0,0,1.69-.2,3.15,3.15,0,0,0,1.51-1.78,3.52,3.52,0,0,0,.24-1.22,2.87,2.87,0,0,0-.38-1.29l-3-5.58,1.58-.85,5,9.44-1.57.84-.78-1.46a5.12,5.12,0,0,1-.78,2.12,4.18,4.18,0,0,1-1.51,1.35,3.25,3.25,0,0,1-2.79.37,4.53,4.53,0,0,1-2.11-2.22Z"/>
		<path class="cls-12" d="M453,760.59l1.57-.84.77,1.45a4.68,4.68,0,0,1,.82-2.15,4.6,4.6,0,0,1,1.56-1.35,3.42,3.42,0,0,1,2.85-.39,4.3,4.3,0,0,1,2.14,2.16l3.35,6.28-1.59.84-3.18-6a3.26,3.26,0,0,0-1.46-1.6,2.1,2.1,0,0,0-1.75.24,3.58,3.58,0,0,0-.95.75,2.91,2.91,0,0,0-.63,1.08,3.52,3.52,0,0,0-.24,1.22,2.8,2.8,0,0,0,.38,1.28l3,5.59L458,770Z"/>
		<path class="cls-12" d="M470.51,764.5a2.14,2.14,0,0,0,1.43.81,3.91,3.91,0,0,0,2-.59,2.66,2.66,0,0,0,1.63-1.93,4.83,4.83,0,0,0-.71-2.73l-.54-1a4.15,4.15,0,0,1-2.28,3.28,4.53,4.53,0,0,1-2,.57,3.92,3.92,0,0,1-1.8-.36,5,5,0,0,1-1.54-1.11,7.61,7.61,0,0,1-1.22-1.71,6.87,6.87,0,0,1-.76-2.12,5,5,0,0,1,0-2,4.37,4.37,0,0,1,.81-1.68,4.75,4.75,0,0,1,1.56-1.28,4.52,4.52,0,0,1,1.73-.51,4,4,0,0,1,2,.42l-.64-1.2,1.57-.84,4.21,7.91a15.51,15.51,0,0,1,1,2.29,4.75,4.75,0,0,1,.24,2,3.42,3.42,0,0,1-.73,1.74,5.84,5.84,0,0,1-1.92,1.49,6.17,6.17,0,0,1-3.27.89,3.2,3.2,0,0,1-2.42-1.54Zm2.09-8.75a5.36,5.36,0,0,0-1.05-1.44,3.25,3.25,0,0,0-1.15-.71,2.43,2.43,0,0,0-1.19-.1,3.71,3.71,0,0,0-1.15.38,3.6,3.6,0,0,0-1,.77,2.52,2.52,0,0,0-.55,1.08,3.4,3.4,0,0,0,0,1.39,5.64,5.64,0,0,0,.64,1.7,5.4,5.4,0,0,0,1.08,1.48,3.19,3.19,0,0,0,1.16.74,2.43,2.43,0,0,0,1.16.14,3.27,3.27,0,0,0,1.07-.34,3.49,3.49,0,0,0,1-.81,2.86,2.86,0,0,0,.59-1.08,3.3,3.3,0,0,0,.06-1.34,4.68,4.68,0,0,0-.55-1.55Z"/>
		<path class="cls-12" d="M486.05,751.7a3.85,3.85,0,0,1-.07,2.8,5,5,0,0,1-2.38,2.28,4.72,4.72,0,0,1-4,.46,6,6,0,0,1-3.09-3,7.47,7.47,0,0,1-.83-2.35,5,5,0,0,1,.08-2.08,4.4,4.4,0,0,1,.89-1.73,5.3,5.3,0,0,1,1.61-1.29,5.11,5.11,0,0,1,2.06-.65,3.84,3.84,0,0,1,1.8.27,4.62,4.62,0,0,1,1.52,1,7.5,7.5,0,0,1,1.23,1.71l.43.81-7,3.73a4.71,4.71,0,0,0,.9,1.22,3.53,3.53,0,0,0,1.11.77,2.8,2.8,0,0,0,1.26.23,3.19,3.19,0,0,0,1.36-.4,3,3,0,0,0,1.49-1.37,2.51,2.51,0,0,0,.1-1.61Zm-3-2.09a5.42,5.42,0,0,0-.8-1.15,3,3,0,0,0-1-.7,2.33,2.33,0,0,0-1.12-.18,3.41,3.41,0,0,0-1.31.41,2.84,2.84,0,0,0-1.55,1.82,4.17,4.17,0,0,0,.35,2.67Z"/>
		<path class="cls-12" d="M276.8,903.61a5.19,5.19,0,0,1-.73,1.76,4.36,4.36,0,0,1-1.71,1.48,5.26,5.26,0,0,1-1.4.53,3.17,3.17,0,0,1-1.3,0,2.7,2.7,0,0,1-1.14-.53,3.37,3.37,0,0,1-.9-1.11,3.14,3.14,0,0,1-.42-1.79,3.22,3.22,0,0,1,.59-1.54,6,6,0,0,1,1.27-1.31,15.88,15.88,0,0,1,1.68-1.13l1.59-.92-.19-.36a2.78,2.78,0,0,0-1.44-1.46,2.51,2.51,0,0,0-1.94.35,3.42,3.42,0,0,0-1.46,1.26,1.93,1.93,0,0,0-.14,1.4l-1.53.61a3.07,3.07,0,0,1,.21-2.54,5.75,5.75,0,0,1,2.31-2,6.2,6.2,0,0,1,1.86-.67,3.32,3.32,0,0,1,1.52.09,3.08,3.08,0,0,1,1.23.8,6.2,6.2,0,0,1,1,1.41l3.26,6.14-1.53.81Zm-1.86-3.42-1.49.87a9.51,9.51,0,0,0-1.51,1,3.43,3.43,0,0,0-.8.93,1.6,1.6,0,0,0-.21.89,2.42,2.42,0,0,0,.3.92,1.69,1.69,0,0,0,1,.91,2.19,2.19,0,0,0,1.65-.32,3.67,3.67,0,0,0,1.82-1.86,2.75,2.75,0,0,0-.23-2.32Z"/>
		<path class="cls-12" d="M277.62,894.33l-1.46.78-.67-1.26,1.46-.77-1.37-2.58,1.59-.84,1.37,2.57,2.5-1.33.67,1.26-2.5,1.33,3,5.53a2.14,2.14,0,0,0,.9,1,1.23,1.23,0,0,0,1.17-.09,4.47,4.47,0,0,0,.68-.43,4.11,4.11,0,0,0,.48-.44l.92,1.07a6,6,0,0,1-.68.64,7.14,7.14,0,0,1-1,.62,3.22,3.22,0,0,1-1.42.45,2.26,2.26,0,0,1-1.15-.25,3,3,0,0,1-.94-.83,8.94,8.94,0,0,1-.8-1.27Z"/>
		<path class="cls-12" d="M291.87,893.68a2.44,2.44,0,0,0,1.45,1,3,3,0,0,0,1.82-.44,3.21,3.21,0,0,0,1.14-1,2.45,2.45,0,0,0,.45-1.39,5.62,5.62,0,0,0-.31-1.89,14.9,14.9,0,0,0-1.09-2.49,4.23,4.23,0,0,1-2.39,3.42,4.7,4.7,0,0,1-1.92.61,3.56,3.56,0,0,1-1.66-.24,4,4,0,0,1-1.4-1,6.78,6.78,0,0,1-1.09-1.53,5.36,5.36,0,0,1-.62-1.9,4.65,4.65,0,0,1,.15-1.83,4.36,4.36,0,0,1,.91-1.6,5.35,5.35,0,0,1,1.62-1.27,4.2,4.2,0,0,1,4.49.07,6.85,6.85,0,0,1,1.72,1.57,12.43,12.43,0,0,1,1.35,2,23.4,23.4,0,0,1,1.33,2.94,8.27,8.27,0,0,1,.55,2.67,4.23,4.23,0,0,1-2.47,4.06,5.08,5.08,0,0,1-3.17.72,3.59,3.59,0,0,1-2.41-1.74Zm.69-4.3a4,4,0,0,0,.95-.72,3,3,0,0,0,.61-1,2.89,2.89,0,0,0,.15-1.19,3.6,3.6,0,0,0-.45-1.38,4.19,4.19,0,0,0-.73-1,3.28,3.28,0,0,0-1-.71,2.71,2.71,0,0,0-1.17-.26,2.75,2.75,0,0,0-1.29.36,3,3,0,0,0-1.59,1.84,3.34,3.34,0,0,0,.4,2.53,5.1,5.1,0,0,0,.73,1.06,2.65,2.65,0,0,0,.91.68,2.43,2.43,0,0,0,1.12.19A3.26,3.26,0,0,0,292.56,889.38Z"/>
		<path class="cls-12" d="M301.9,890.21c.25-.66.51-1.37.8-2.11s.58-1.51.87-2.29.57-1.56.79-2.22a11.31,11.31,0,0,0,.44-1.79,5,5,0,0,0,0-1.54,4.42,4.42,0,0,0-.47-1.41,2.68,2.68,0,0,0-1.56-1.43,2.65,2.65,0,0,0-2.06.31,4.27,4.27,0,0,0-1.07.76,2.38,2.38,0,0,0-.58.86,2.43,2.43,0,0,0-.16,1,6.9,6.9,0,0,0,.15,1.19l-1.64.57a7.75,7.75,0,0,1-.23-1.52,4.21,4.21,0,0,1,.22-1.53,4.29,4.29,0,0,1,.86-1.47,5.82,5.82,0,0,1,1.72-1.3,5.57,5.57,0,0,1,1.86-.64,4.09,4.09,0,0,1,1.65.09,3.7,3.7,0,0,1,1.39.75,4.72,4.72,0,0,1,1.06,1.36,5.65,5.65,0,0,1,.59,1.65,6.19,6.19,0,0,1,0,1.78,12.25,12.25,0,0,1-.44,2.07c-.23.74-.53,1.58-.89,2.51q-.28.74-.6,1.5c-.2.51-.4,1-.58,1.52l6.17-3.29.54,1.59-8.2,4.36Z"/>
		<path class="cls-12" d="M313.48,882.17a2.41,2.41,0,0,0,1.45,1,3,3,0,0,0,1.82-.45,3.21,3.21,0,0,0,1.14-1,2.49,2.49,0,0,0,.45-1.38,5.55,5.55,0,0,0-.31-1.89,15,15,0,0,0-1.09-2.5,4.25,4.25,0,0,1-2.39,3.43,4.85,4.85,0,0,1-1.92.61,3.83,3.83,0,0,1-1.66-.24,4,4,0,0,1-1.4-1,7,7,0,0,1-1.09-1.53,5.41,5.41,0,0,1-.62-1.91,4.6,4.6,0,0,1,.15-1.82,4.4,4.4,0,0,1,.91-1.61,5.49,5.49,0,0,1,1.62-1.26,4.51,4.51,0,0,1,2.42-.61,4.42,4.42,0,0,1,2.07.68,7,7,0,0,1,1.72,1.56,13,13,0,0,1,1.35,2.05,24,24,0,0,1,1.33,2.93A8,8,0,0,1,320,880a4.17,4.17,0,0,1-2.46,4,5.17,5.17,0,0,1-3.17.73,3.63,3.63,0,0,1-2.41-1.74Zm.69-4.31a3.56,3.56,0,0,0,.95-.72,2.85,2.85,0,0,0,.61-1,2.94,2.94,0,0,0,.15-1.2,3.71,3.71,0,0,0-.45-1.38,4.42,4.42,0,0,0-.73-1,3.31,3.31,0,0,0-1-.72,2.7,2.7,0,0,0-1.17-.25,2.75,2.75,0,0,0-1.29.36,3,3,0,0,0-1.59,1.83,3.32,3.32,0,0,0,.4,2.53,5.17,5.17,0,0,0,.73,1.07,2.78,2.78,0,0,0,.91.68,2.43,2.43,0,0,0,1.12.19A3.45,3.45,0,0,0,314.17,877.86Z"/>
		<path class="cls-12" d="M330.68,868l4.88-2.59,2.78,5.22a6.68,6.68,0,0,1-.67,1.37,8.44,8.44,0,0,1-.94,1.22,7.63,7.63,0,0,1-1.15,1.05,10,10,0,0,1-1.28.83,7.6,7.6,0,0,1-2.81.9,5.77,5.77,0,0,1-2.62-.33,6.7,6.7,0,0,1-2.32-1.52,10.67,10.67,0,0,1-1.93-2.66,10.23,10.23,0,0,1-1.12-3.15,7.06,7.06,0,0,1,.07-2.8,5.73,5.73,0,0,1,1.14-2.32,6.73,6.73,0,0,1,2.11-1.71,7.19,7.19,0,0,1,2.08-.77,4.9,4.9,0,0,1,1.83,0,4.81,4.81,0,0,1,1.61.66,6.82,6.82,0,0,1,1.39,1.21l-1.47,1.14a6.08,6.08,0,0,0-.95-.83,3.16,3.16,0,0,0-1.06-.48,3.12,3.12,0,0,0-1.22,0,4.64,4.64,0,0,0-1.44.53,4.39,4.39,0,0,0-1.58,1.34,4.09,4.09,0,0,0-.69,1.79,5.76,5.76,0,0,0,.14,2.12,9.35,9.35,0,0,0,.9,2.34,10.24,10.24,0,0,0,1.43,2.06,5.52,5.52,0,0,0,1.7,1.29,4.27,4.27,0,0,0,1.93.38,4.94,4.94,0,0,0,2.1-.63,7.92,7.92,0,0,0,1.73-1.23,5.25,5.25,0,0,0,1.16-1.58l-1.66-3.12-3.29,1.75Z"/>
		<path class="cls-12" d="M348.14,863.87a3.9,3.9,0,0,1-.07,2.8,5,5,0,0,1-2.38,2.27,4.72,4.72,0,0,1-4,.46,6,6,0,0,1-3.09-3,7.47,7.47,0,0,1-.83-2.35,5.14,5.14,0,0,1,.07-2.08,4.56,4.56,0,0,1,.9-1.73,5.45,5.45,0,0,1,1.61-1.29,5.27,5.27,0,0,1,2.06-.65,3.84,3.84,0,0,1,1.8.27,4.62,4.62,0,0,1,1.52,1.05A8,8,0,0,1,347,861.3l.43.81-7,3.73a4.92,4.92,0,0,0,.89,1.22,3.68,3.68,0,0,0,1.12.77,2.8,2.8,0,0,0,1.26.23,3.23,3.23,0,0,0,1.35-.39,3.1,3.1,0,0,0,1.5-1.38,2.51,2.51,0,0,0,.1-1.61Zm-3-2.1a5.69,5.69,0,0,0-.8-1.15,2.85,2.85,0,0,0-1-.69,2.35,2.35,0,0,0-1.13-.19,3.28,3.28,0,0,0-1.3.42,2.82,2.82,0,0,0-1.55,1.81,4.17,4.17,0,0,0,.35,2.67Z"/>
		<path class="cls-12" d="M346.76,855.88l1.57-.84.78,1.46a4.26,4.26,0,0,1,.6-1.86,3.38,3.38,0,0,1,1.29-1.23,4.65,4.65,0,0,1,.88-.37l.59,1.58-.4.13a3.7,3.7,0,0,0-.42.19,3,3,0,0,0-.81.63,3.2,3.2,0,0,0-.78,2.12,2.74,2.74,0,0,0,.33,1.18l3,5.6-1.59.85Z"/>
		<path class="cls-12" d="M352.8,852.66l1.85-1,6.89,6.17-1.22-9.19,1.76-.94,1.23,11.46-1.7.9Z"/>
		<path class="cls-12" d="M373.35,852.17a5.07,5.07,0,0,1-.73,1.75,4.37,4.37,0,0,1-1.71,1.49,5.22,5.22,0,0,1-1.4.52,3.17,3.17,0,0,1-1.3,0,2.71,2.71,0,0,1-1.14-.53,3.32,3.32,0,0,1-.9-1.12,3.11,3.11,0,0,1-.43-1.78,3.32,3.32,0,0,1,.59-1.54,6.32,6.32,0,0,1,1.28-1.31,15.88,15.88,0,0,1,1.68-1.13l1.59-.92-.19-.36a2.78,2.78,0,0,0-1.44-1.46,2.51,2.51,0,0,0-1.94.35,3.24,3.24,0,0,0-1.46,1.26,2,2,0,0,0-.15,1.4l-1.53.61a3.07,3.07,0,0,1,.22-2.54,5.62,5.62,0,0,1,2.31-2,5.85,5.85,0,0,1,1.86-.67,3.28,3.28,0,0,1,1.51.09,3,3,0,0,1,1.23.8,5.9,5.9,0,0,1,1,1.41l3.27,6.13-1.53.82Zm-1.87-3.42-1.48.87a9.74,9.74,0,0,0-1.51,1,3.67,3.67,0,0,0-.81.94,1.59,1.59,0,0,0-.2.89,2.4,2.4,0,0,0,.29.92,1.73,1.73,0,0,0,1,.91,2.16,2.16,0,0,0,1.64-.32,3.59,3.59,0,0,0,1.82-1.86,2.75,2.75,0,0,0-.22-2.32Z"/>
		<path class="cls-12" d="M371,838.34l1.7-.9,1,1.84-1.7.9Zm2,3.57,1.59-.85,5,9.44-1.58.84Z"/>
		<path class="cls-12" d="M381.64,845.87a2.1,2.1,0,0,0,1.57.94,4.1,4.1,0,0,0,2-.58,3.09,3.09,0,0,0,1.49-1.32,1.5,1.5,0,0,0-.08-1.35,2.85,2.85,0,0,0-.34-.49,1.09,1.09,0,0,0-.48-.3,1.65,1.65,0,0,0-.69-.07,4.18,4.18,0,0,0-1,.22l-1.3.46a9.85,9.85,0,0,1-1.58.42,4.09,4.09,0,0,1-1.3,0,2.38,2.38,0,0,1-1-.45,3.11,3.11,0,0,1-.81-1,2.6,2.6,0,0,1-.34-1.32,3,3,0,0,1,.32-1.29,4.41,4.41,0,0,1,.9-1.18,6,6,0,0,1,1.38-1,7.2,7.2,0,0,1,1.81-.71,3.64,3.64,0,0,1,1.42,0,2.73,2.73,0,0,1,1.11.46,4.93,4.93,0,0,1,.9.81l-1.31,1a3.75,3.75,0,0,0-.66-.52,1.56,1.56,0,0,0-.69-.25,2,2,0,0,0-.82.06,4.29,4.29,0,0,0-1,.42,4.82,4.82,0,0,0-1,.7,2.61,2.61,0,0,0-.54.69,1.33,1.33,0,0,0-.13.65,1.48,1.48,0,0,0,.16.58,2.71,2.71,0,0,0,.35.48,1.06,1.06,0,0,0,.49.26,2.36,2.36,0,0,0,.71,0,6.28,6.28,0,0,0,1-.26l1.49-.51a5.07,5.07,0,0,1,2.88-.32,2.91,2.91,0,0,1,1.78,1.58,3,3,0,0,1,.35,1.23,2.84,2.84,0,0,1-.25,1.26,4,4,0,0,1-.87,1.22,6.92,6.92,0,0,1-1.55,1.09,7.92,7.92,0,0,1-1.69.69,4.62,4.62,0,0,1-1.58.17,3,3,0,0,1-1.41-.45,3.56,3.56,0,0,1-1.16-1.21Z"/>
		<g class="cls-13">
			<path class="cls-11" d="M82.59,920.87l1.18-.64a4.37,4.37,0,0,1-3.29-2.45,4.71,4.71,0,0,1-.26-4.29,8.19,8.19,0,0,1,3.94-3.72,11,11,0,0,1,3-1.13,6.86,6.86,0,0,1,2.61-.09,4.68,4.68,0,0,1,2.08.88,5.21,5.21,0,0,1,1.48,1.76,4.41,4.41,0,0,1,.57,1.94,3.51,3.51,0,0,1-.32,1.65L98.74,912l2.6,4.87-16.25,8.66Zm6.08-3.51a4.16,4.16,0,0,0,1.62-1.3,1.33,1.33,0,0,0,0-1.36,1.41,1.41,0,0,0-1.17-.8,3.91,3.91,0,0,0-2.11.62,4.12,4.12,0,0,0-1.71,1.41,1.43,1.43,0,0,0,0,1.43,1.34,1.34,0,0,0,1.1.75,2.19,2.19,0,0,0,.9-.11,6.26,6.26,0,0,0,1.07-.47Z"/>
			<path class="cls-11" d="M96.47,937.37a5.49,5.49,0,0,1-4.27-.13A7.6,7.6,0,0,1,89,933.85a7.07,7.07,0,0,1-.87-5.6,7.2,7.2,0,0,1,3.74-4,9.39,9.39,0,0,1,3-1,6.33,6.33,0,0,1,2.72.13,6.06,6.06,0,0,1,2.33,1.27,8.3,8.3,0,0,1,1.83,2.37,8,8,0,0,1,.93,2.78,6,6,0,0,1-.24,2.54,5.88,5.88,0,0,1-1.35,2.19,9,9,0,0,1-2.35,1.75l-1.23.66-4.05-7.6a2.58,2.58,0,0,0-1.31,1.31,1.78,1.78,0,0,0,.2,1.38,1.48,1.48,0,0,0,1.74.91Zm2-8.55a2,2,0,0,0-1-1,2.06,2.06,0,0,0-1.57.19l1.69,3.17a2.24,2.24,0,0,0,1.1-1.13A1.61,1.61,0,0,0,98.49,928.82Z"/>
			<path class="cls-11" d="M99.59,943.46a1.09,1.09,0,0,0-.49.88,2.24,2.24,0,0,0,.3,1,1.7,1.7,0,0,0,.62.75.64.64,0,0,0,.64,0,.7.7,0,0,0,.37-.46,2,2,0,0,0-.11-.93l-.42-1.33a9,9,0,0,1-.54-4.27,3.54,3.54,0,0,1,2-2.45,3.76,3.76,0,0,1,3.62-.07,8.13,8.13,0,0,1,3.23,3.61,10.27,10.27,0,0,1,1,2.58,6,6,0,0,1,.12,2.11,4.08,4.08,0,0,1-.62,1.69,5.39,5.39,0,0,1-1.19,1.29l-2.81-4.35a1.25,1.25,0,0,0,.36-1.74,1.37,1.37,0,0,0-.57-.63.64.64,0,0,0-.63,0,.65.65,0,0,0-.36.49,2.58,2.58,0,0,0,.15,1l.41,1.36a16.74,16.74,0,0,1,.55,2.5,5.51,5.51,0,0,1,0,1.83,3.12,3.12,0,0,1-.64,1.33,4.59,4.59,0,0,1-1.35,1,4,4,0,0,1-3.72.2,8.07,8.07,0,0,1-3.32-3.7,15.21,15.21,0,0,1-.95-2.2,6.79,6.79,0,0,1-.37-2.24,4.18,4.18,0,0,1,.57-2.11,4.93,4.93,0,0,1,1.76-1.76Z"/>
			<path class="cls-11" d="M112.31,947.7l2.6,4.87-12,6.4-2.6-4.87Zm4.24-2.26,2.59,4.87L116.07,952l-2.6-4.87Z"/>
			<path class="cls-11" d="M106.38,966a1.56,1.56,0,0,0-.6.81,1.69,1.69,0,0,0,1.3,1.85,4.52,4.52,0,0,0,2.1-.7l.89-.47a4.24,4.24,0,0,1-1.67-.69,5.38,5.38,0,0,1-1.77-5.94,7.51,7.51,0,0,1,3.65-3.51,9.5,9.5,0,0,1,2.77-1,6,6,0,0,1,2.43,0,4.69,4.69,0,0,1,1.94.94,5.47,5.47,0,0,1,1.41,1.73,4.46,4.46,0,0,1,.59,2,5,5,0,0,1-.34,1.85l1-.55,2.49,4.68-10.7,5.71a6.63,6.63,0,0,1-5.35.8,7.55,7.55,0,0,1-4-3.9,7.69,7.69,0,0,1-1.12-4.88,5,5,0,0,1,2.43-3.41Zm8.3-1a3.39,3.39,0,0,0,.71-.48,1.72,1.72,0,0,0,.45-.57,1.22,1.22,0,0,0,.15-.7,1.58,1.58,0,0,0-.2-.65,1.45,1.45,0,0,0-1.1-.84,3.39,3.39,0,0,0-3,1.57,1.52,1.52,0,0,0,.1,1.38,1.7,1.7,0,0,0,.48.57,1.33,1.33,0,0,0,.72.25,1.64,1.64,0,0,0,.71-.09,4.24,4.24,0,0,0,.67-.29Z"/>
			<path class="cls-11" d="M123.85,969.34l2.52,4.74-1.25.67a5.11,5.11,0,0,1,1.95.81,4.66,4.66,0,0,1,1.48,1.74,4.25,4.25,0,0,1,.43,3.48,5,5,0,0,1-2.61,2.74l-8.1,4.31-2.6-4.87,7.22-3.84a1.56,1.56,0,0,0,.78-.74,1,1,0,0,0-.11-.85,1.82,1.82,0,0,0-.5-.62,1.23,1.23,0,0,0-.67-.27,1.47,1.47,0,0,0-.41,0,2,2,0,0,0-.57.23l-7,3.72-2.59-4.87Z"/>
			<path class="cls-14" d="M130.45,999.06a8.59,8.59,0,0,1-2.34.6,5.72,5.72,0,0,1-2.23-.2,5.45,5.45,0,0,1-2-1.17,9.32,9.32,0,0,1-2.71-5.27,5.66,5.66,0,0,1,1.67-4.81,9.69,9.69,0,0,1,2.33-1.71,7.46,7.46,0,0,1,5.64-.9,6.82,6.82,0,0,1,4.11,3.63,8.25,8.25,0,0,1,1,2.71,5.19,5.19,0,0,1-.15,2.25,5.51,5.51,0,0,1-1,1.82,7.26,7.26,0,0,1-1.51,1.42l-2.79-4.3a2.28,2.28,0,0,0,.71-.82,1,1,0,0,0-.1-.94,1.26,1.26,0,0,0-1.12-.72,4.4,4.4,0,0,0-2.06.66,4.48,4.48,0,0,0-1.75,1.39,1.31,1.31,0,0,0,0,1.34,1.14,1.14,0,0,0,.78.63,2,2,0,0,0,1.14-.16Z"/>
			<path class="cls-14" d="M129.27,1009.36a7,7,0,0,1-.83-5.59,8.58,8.58,0,0,1,9.42-4.92,7.15,7.15,0,0,1,4.22,3.83,7,7,0,0,1,.82,5.58,8.6,8.6,0,0,1-9.41,4.94A7.19,7.19,0,0,1,129.27,1009.36Zm5.62-4.81a6.75,6.75,0,0,0-1.15.75,2.36,2.36,0,0,0-.6.71,1.26,1.26,0,0,0-.14.69,1.74,1.74,0,0,0,.62,1.16,1.32,1.32,0,0,0,.65.27,2.46,2.46,0,0,0,.93-.1,7.94,7.94,0,0,0,2.41-1.29,2.36,2.36,0,0,0,.6-.71,1.36,1.36,0,0,0,.14-.69,1.73,1.73,0,0,0-.62-1.16,1.32,1.32,0,0,0-.65-.27,2.46,2.46,0,0,0-.93.1A6.76,6.76,0,0,0,134.89,1004.55Z"/>
			<path class="cls-14" d="M150.33,1008.84l2.59,4.87-16.25,8.66-2.6-4.87Z"/>
			<path class="cls-14" d="M144.2,1036.5l-2.52-4.73,1.25-.67a5.38,5.38,0,0,1-1.92-.77,4.63,4.63,0,0,1-1.49-1.74,4.19,4.19,0,0,1-.4-3.43,5.12,5.12,0,0,1,2.62-2.72l8.1-4.31,2.6,4.87-7.29,3.88a1.45,1.45,0,0,0-.73.69,1,1,0,0,0,.1.81,1.39,1.39,0,0,0,1.12.84,1,1,0,0,0,.38,0,2.3,2.3,0,0,0,.55-.21l7.05-3.76,2.6,4.87Z"/>
			<path class="cls-14" d="M162,1040.1a4.33,4.33,0,0,1,.55,2.12,3.59,3.59,0,0,1-.61,2,5.41,5.41,0,0,1,2.06.82,4.87,4.87,0,0,1,1.56,1.8,4,4,0,0,1,.38,3.38,5.17,5.17,0,0,1-2.64,2.68l-8.11,4.32-2.59-4.87,7.44-4a1.15,1.15,0,0,0,.63-.6.84.84,0,0,0-.09-.68,1.23,1.23,0,0,0-.94-.73,1.35,1.35,0,0,0-.33,0,1.53,1.53,0,0,0-.46.18l-7.26,3.87-2.6-4.87,7.45-4a1.15,1.15,0,0,0,.63-.6.84.84,0,0,0-.09-.68,1.23,1.23,0,0,0-.94-.73,1.35,1.35,0,0,0-.33,0,1.44,1.44,0,0,0-.46.18l-7.26,3.87-2.6-4.87,12-6.4,2.52,4.73-1.25.67a4.81,4.81,0,0,1,1.88.7A4.24,4.24,0,0,1,162,1040.1Z"/>
			<path class="cls-14" d="M175.21,1055.55l-5.16,2.75a4.43,4.43,0,0,1,3,2.39,4.76,4.76,0,0,1,.28,4.27,8.12,8.12,0,0,1-4,3.74,11,11,0,0,1-3,1.15,7.15,7.15,0,0,1-2.59.08,4.8,4.8,0,0,1-2.08-.88,5.37,5.37,0,0,1-1.48-1.77,4.12,4.12,0,0,1-.56-2.16,3.84,3.84,0,0,1,.49-1.75l-1.23.65-2.49-4.69,16.25-8.66Zm-10.39,5.56a4,4,0,0,0-1.61,1.3,1.31,1.31,0,0,0,0,1.36,1.42,1.42,0,0,0,1.16.81,5.61,5.61,0,0,0,3.84-2,1.41,1.41,0,0,0,0-1.42,1.33,1.33,0,0,0-1.1-.76,2.22,2.22,0,0,0-.9.12,6.49,6.49,0,0,0-1.07.46Z"/>
			<path class="cls-14" d="M176.17,1067.54l2.6,4.88-12,6.4-2.6-4.87Zm4.23-2.25,2.6,4.87-3.07,1.64-2.6-4.88Z"/>
			<path class="cls-14" d="M171.67,1088.06l1.14-.61a5.74,5.74,0,0,1-1.93-1,5.41,5.41,0,0,1-1.38-1.73,6.33,6.33,0,0,1-.59-1.59,4.13,4.13,0,0,1,0-1.64,3.68,3.68,0,0,1,.63-1.52,4.07,4.07,0,0,1,1.47-1.24,4.15,4.15,0,0,1,2.26-.55,4,4,0,0,1,2,.71,7.56,7.56,0,0,1,1.62,1.52,15.91,15.91,0,0,1,1.41,2.1l.79,1.36.42-.22a1.61,1.61,0,0,0,.82-.79,1.18,1.18,0,0,0-.14-1,1.38,1.38,0,0,0-.68-.69,1.44,1.44,0,0,0-1,0l-2-4.52a4.71,4.71,0,0,1,3.85.17,7.86,7.86,0,0,1,3.1,3.43,9.1,9.1,0,0,1,1,2.83,4.79,4.79,0,0,1-.11,2.25,4.23,4.23,0,0,1-1.1,1.77,8.75,8.75,0,0,1-1.93,1.38l-7.33,3.9Zm4.77-2.78-.73-1.21a2.74,2.74,0,0,0-1-1.07,1,1,0,0,0-1,0,.87.87,0,0,0-.5.62,1.38,1.38,0,0,0,.21.91,2,2,0,0,0,1.18,1,1.93,1.93,0,0,0,1.56-.17Z"/>
			<path class="cls-14" d="M180,1091.87l2.41,4.53-4.9,2.61-2.41-4.53Z"/>
			<path class="cls-14" d="M189.5,1109.89a8.59,8.59,0,0,1-2.34.6,5.36,5.36,0,0,1-2.23-.2,5.29,5.29,0,0,1-2-1.16,8.27,8.27,0,0,1-1.72-2.3,8.63,8.63,0,0,1-1-3,5.83,5.83,0,0,1,.28-2.62,5.75,5.75,0,0,1,1.39-2.18,9.46,9.46,0,0,1,2.33-1.72,7.46,7.46,0,0,1,5.64-.9,6.77,6.77,0,0,1,4.11,3.63,8,8,0,0,1,.95,2.71,5.17,5.17,0,0,1-.14,2.25,5.44,5.44,0,0,1-1,1.82,7.26,7.26,0,0,1-1.51,1.42l-2.79-4.3a2.09,2.09,0,0,0,.71-.81,1.09,1.09,0,0,0-.09-1,1.28,1.28,0,0,0-1.13-.71,6.17,6.17,0,0,0-3.81,2,1.29,1.29,0,0,0,0,1.34,1.12,1.12,0,0,0,.77.64,2.11,2.11,0,0,0,1.14-.17Z"/>
			<path class="cls-14" d="M188.32,1120.19a7,7,0,0,1-.83-5.59,8.61,8.61,0,0,1,9.42-4.92,7.18,7.18,0,0,1,4.22,3.83,7,7,0,0,1,.83,5.58,8.59,8.59,0,0,1-9.41,4.94A7.15,7.15,0,0,1,188.32,1120.19Zm5.62-4.81a6.75,6.75,0,0,0-1.15.75,2.36,2.36,0,0,0-.6.71,1.36,1.36,0,0,0-.14.69,1.5,1.5,0,0,0,.19.63,1.62,1.62,0,0,0,.43.53,1.24,1.24,0,0,0,.65.27,2.27,2.27,0,0,0,.93-.1,6.76,6.76,0,0,0,1.26-.54,7.45,7.45,0,0,0,1.15-.74,2.39,2.39,0,0,0,.6-.72,1.25,1.25,0,0,0,.14-.69,1.75,1.75,0,0,0-.2-.65,1.57,1.57,0,0,0-.41-.51,1.4,1.4,0,0,0-.66-.27,2.39,2.39,0,0,0-.92.1A8.08,8.08,0,0,0,193.94,1115.38Z"/>
			<path class="cls-14" d="M209.67,1129.54a4.34,4.34,0,0,1,.56,2.11,3.55,3.55,0,0,1-.62,1.95,5.53,5.53,0,0,1,2.07.83,5,5,0,0,1,1.56,1.8,4.08,4.08,0,0,1,.38,3.38,5.27,5.27,0,0,1-2.65,2.68l-8.1,4.32-2.6-4.87,7.44-4a1.22,1.22,0,0,0,.63-.6.8.8,0,0,0-.08-.68,1.23,1.23,0,0,0-.95-.73l-.33,0a2.14,2.14,0,0,0-.46.19l-7.26,3.87-2.59-4.87,7.44-4a1.22,1.22,0,0,0,.63-.6.84.84,0,0,0-.09-.68,1.2,1.2,0,0,0-.94-.73l-.33,0a2,2,0,0,0-.46.19l-7.26,3.87-2.59-4.88,12-6.4,2.53,4.74-1.26.66a4.93,4.93,0,0,1,1.89.71A4.3,4.3,0,0,1,209.67,1129.54Z"/>
		</g>
		<path class="cls-12" d="M458.23,581.75,445.4,557.67l7.93-4.22q5.19-2.78,9.57-1.18t7.46,7.38q3.17,5.94,1.91,10.61t-6.79,7.62Zm6.71-5.13q9.84-5.25,4.06-16.11-2.82-5.29-6.65-6.78t-8.38.93l-6.57,3.5,11.53,21.65Z"/>
		<path class="cls-12" d="M492.82,557.77a6.4,6.4,0,0,1-.35,4.78,8.51,8.51,0,0,1-3.8,3.67,8.21,8.21,0,0,1-7.05.72c-2.2-.84-4.07-2.72-5.61-5.62s-2.09-5.57-1.59-7.94a8,8,0,0,1,4.42-5.52,7.35,7.35,0,0,1,6.47-.57c2.05.84,3.8,2.63,5.28,5.4l.46.87-13.65,7.28a9.69,9.69,0,0,0,4.76,4.8,7,7,0,0,0,6-.62,7.08,7.08,0,0,0,3.07-2.85,5.25,5.25,0,0,0,.38-3.75Zm-3.64-4.64c-1.27-2.38-2.72-3.92-4.37-4.62a6,6,0,0,0-5.39.52,6.68,6.68,0,0,0-3.62,4.3,9.78,9.78,0,0,0,1,6.4Z"/>
		<path class="cls-12" d="M503.77,540.38a5.43,5.43,0,0,0-3.22-1.66,7.48,7.48,0,0,0-3.87,1.11q-5.08,2.71-3.19,6.29a3.07,3.07,0,0,0,2.13,1.74,8.19,8.19,0,0,0,3.87-.57l2.35-.78a10.32,10.32,0,0,1,5.17-.67,4.54,4.54,0,0,1,3,2.51,5.07,5.07,0,0,1,.34,4.65,8.87,8.87,0,0,1-4.15,3.88,9.6,9.6,0,0,1-5.78,1.37,5.82,5.82,0,0,1-4.15-2.7l1.25-.67A4.83,4.83,0,0,0,500.9,557a8.08,8.08,0,0,0,4.62-1.2,7.61,7.61,0,0,0,3.46-3.06,3.78,3.78,0,0,0-.25-3.59,3.4,3.4,0,0,0-2.32-1.92,8.33,8.33,0,0,0-4.1.59l-2,.68a10.28,10.28,0,0,1-5.08.74,4.17,4.17,0,0,1-2.91-2.33,4.77,4.77,0,0,1-.23-4.44,10.56,10.56,0,0,1,8.86-5,6.05,6.05,0,0,1,3.86,2.09Z"/>
		<path class="cls-12" d="M505.42,529.67l-1.65-3.1,1.35-.72,1.65,3.1Zm11.21,21-9.21-17.3,1.28-.68,9.22,17.3Z"/>
		<path class="cls-12" d="M533.82,536.24a8,8,0,0,1-4.45,7.26,7.6,7.6,0,0,1-6.69.55,10.94,10.94,0,0,1-5.4-5.37,10.69,10.69,0,0,1-1.37-7.54,8,8,0,0,1,4.34-5.34,8.39,8.39,0,0,1,4.28-1.09,6.93,6.93,0,0,1,3.86,1.34l-1.62-3,1.28-.69,9,16.93c1.32,2.48,1.69,4.63,1.11,6.47s-2.1,3.41-4.58,4.73a9.89,9.89,0,0,1-5.69,1.43,5.39,5.39,0,0,1-4-2.46l1.21-.65a4.46,4.46,0,0,0,3.28,1.81A9,9,0,0,0,533,549.3c2.13-1.14,3.42-2.44,3.85-3.9s.07-3.29-1.11-5.49Zm-3-5.77a10.35,10.35,0,0,0-2.29-3,6.08,6.08,0,0,0-2.83-1.39,7,7,0,0,0-4.72.83,6.66,6.66,0,0,0-3.71,4.53,11.87,11.87,0,0,0,6,11.31,6.37,6.37,0,0,0,5.66-.46,7.29,7.29,0,0,0,3.36-3.52,6.66,6.66,0,0,0,.48-3.2,9,9,0,0,0-1.06-3.42Z"/>
		<path class="cls-12" d="M554.6,530.4l-6-11.23a7.12,7.12,0,0,0-3.31-3.5,5,5,0,0,0-4.24.55,8,8,0,0,0-3.85,4.48,5.53,5.53,0,0,0-.38,2.49,8.25,8.25,0,0,0,1,2.69l5.59,10.48-1.28.69-9.22-17.3,1.28-.68,1.58,3a9.11,9.11,0,0,1,4.88-7.1,6.23,6.23,0,0,1,5.12-.67,7.69,7.69,0,0,1,4,3.92l6.14,11.53Z"/>
		<path class="cls-12" d="M581.44,516.1l-1.79-3.37a7.87,7.87,0,0,1-4.36,7.34,7.55,7.55,0,0,1-6.77.46,11.74,11.74,0,0,1-5.57-5.66,11.54,11.54,0,0,1-1.53-7.84,7.83,7.83,0,0,1,4.31-5.46,8.22,8.22,0,0,1,4.27-1.06,6.93,6.93,0,0,1,3.9,1.42L568.62,492l1.28-.68,12.82,24.07Zm-5-9.48a11.54,11.54,0,0,0-2.38-3.21,6.64,6.64,0,0,0-2.9-1.51,7,7,0,0,0-4.79.78,6.47,6.47,0,0,0-3.62,4.61c-.37,2,.13,4.27,1.51,6.86a10.7,10.7,0,0,0,4.77,5.05,6.18,6.18,0,0,0,5.71-.33,7,7,0,0,0,3.36-3.61,7.22,7.22,0,0,0,.4-3.35,9.91,9.91,0,0,0-1.14-3.57Z"/>
		<path class="cls-12" d="M576.37,491.87l-1.65-3.1,1.35-.72,1.65,3.1Zm11.21,21-9.22-17.3,1.28-.68,9.22,17.29Z"/>
		<path class="cls-12" d="M605.11,503.49l-1.54-2.9a7.76,7.76,0,0,1-1.4,3.9,9.46,9.46,0,0,1-3.35,2.87,7.21,7.21,0,0,1-5.1.94,5.55,5.55,0,0,1-3.64-3,5.3,5.3,0,0,1-.16-5.26q1.33-2.46,5.76-5l3.7-2.15-.37-.7q-1.54-2.91-3.33-3.49t-4.59.9a8.05,8.05,0,0,0-3.22,2.72,4.23,4.23,0,0,0-.38,3.36l-1.25.41q-1.35-4.65,4.34-7.69c2.19-1.16,4-1.5,5.58-1s2.89,1.82,4.07,4l6.13,11.5Zm-5.17-9.63-3.57,2.07c-2.64,1.56-4.33,3-5.08,4.32a4.23,4.23,0,0,0,.11,4.31,4.35,4.35,0,0,0,2.85,2.42,5.91,5.91,0,0,0,4.06-.82,7.5,7.5,0,0,0,3.84-4.17,6,6,0,0,0,.41-2.36,5.93,5.93,0,0,0-.79-2.33Z"/>
		<path class="cls-12" d="M611.12,500.29l-12.83-24.08,1.28-.68L612.4,499.6Z"/>
		<path class="cls-12" d="M624.82,493.68a8.29,8.29,0,0,1-7.13.66,11.24,11.24,0,0,1-5.71-5.59,13.06,13.06,0,0,1-1.62-5.36,8.48,8.48,0,0,1,1-4.69,9,9,0,0,1,3.69-3.44,8.31,8.31,0,0,1,7.14-.66c2.28.88,4.19,2.75,5.72,5.63a12.72,12.72,0,0,1,1.6,5.32,8.31,8.31,0,0,1-1,4.69A8.88,8.88,0,0,1,624.82,493.68Zm-.57-1.17a6.79,6.79,0,0,0,3.78-4.72,10.22,10.22,0,0,0-1.42-6.84q-2.05-3.88-4.91-5.05a7.73,7.73,0,0,0-9.82,5.23q-.61,3,1.45,6.9a10.24,10.24,0,0,0,4.89,5A6.79,6.79,0,0,0,624.25,492.51Z"/>
		<path class="cls-12" d="M647.79,475.51a7.92,7.92,0,0,1-4.45,7.26,7.64,7.64,0,0,1-6.69.56,10.94,10.94,0,0,1-5.4-5.37,10.75,10.75,0,0,1-1.37-7.54,8,8,0,0,1,4.34-5.34,8.42,8.42,0,0,1,4.29-1.1,6.86,6.86,0,0,1,3.85,1.35l-1.62-3,1.29-.68,9,16.93c1.32,2.47,1.69,4.63,1.11,6.46s-2.1,3.42-4.58,4.74a10,10,0,0,1-5.68,1.43,5.46,5.46,0,0,1-4-2.46l1.21-.65a4.41,4.41,0,0,0,3.28,1.8,8.84,8.84,0,0,0,4.62-1.29c2.13-1.13,3.42-2.43,3.85-3.89s.07-3.29-1.1-5.49Zm-3-5.77a10.42,10.42,0,0,0-2.28-3,6.06,6.06,0,0,0-2.84-1.39,7,7,0,0,0-4.72.82,6.68,6.68,0,0,0-3.71,4.53,11.87,11.87,0,0,0,6,11.32,6.37,6.37,0,0,0,5.66-.47,7.25,7.25,0,0,0,3.36-3.52,6.64,6.64,0,0,0,.48-3.2,8.79,8.79,0,0,0-1.06-3.42Z"/>
		<path class="cls-12" d="M660.26,457a5.4,5.4,0,0,0-3.22-1.66,7.39,7.39,0,0,0-3.87,1.11q-5.08,2.71-3.18,6.29a3,3,0,0,0,2.12,1.74,8.27,8.27,0,0,0,3.87-.56l2.36-.79a10.27,10.27,0,0,1,5.16-.67,4.54,4.54,0,0,1,3,2.51,5.09,5.09,0,0,1,.34,4.66,8.81,8.81,0,0,1-4.15,3.87,9.6,9.6,0,0,1-5.78,1.37,5.84,5.84,0,0,1-4.15-2.7l1.25-.67a4.87,4.87,0,0,0,3.38,2.09,8.08,8.08,0,0,0,4.62-1.2,7.61,7.61,0,0,0,3.46-3.06,3.78,3.78,0,0,0-.25-3.59,3.41,3.41,0,0,0-2.32-1.92,8.33,8.33,0,0,0-4.1.59l-2,.68a10.28,10.28,0,0,1-5.08.74,4.19,4.19,0,0,1-2.91-2.33,4.74,4.74,0,0,1-.22-4.44,10.56,10.56,0,0,1,8.85-5,6.05,6.05,0,0,1,3.86,2.09Z"/>
		<path class="cls-12" d="M487,619.08a8.32,8.32,0,0,1-7.14.67,11.26,11.26,0,0,1-5.71-5.6,12.81,12.81,0,0,1-1.61-5.35,8.3,8.3,0,0,1,1.05-4.69,8.85,8.85,0,0,1,3.68-3.44,8.28,8.28,0,0,1,7.14-.66q3.42,1.31,5.73,5.63a12.87,12.87,0,0,1,1.6,5.31,8.5,8.5,0,0,1-1.05,4.7A8.92,8.92,0,0,1,487,619.08Zm-.58-1.16a6.81,6.81,0,0,0,3.78-4.72,10.27,10.27,0,0,0-1.41-6.84q-2.07-3.89-4.92-5.05a7.7,7.7,0,0,0-9.81,5.23q-.63,3,1.44,6.89a10.35,10.35,0,0,0,4.89,5A6.78,6.78,0,0,0,486.38,617.92Z"/>
		<path class="cls-12" d="M503.46,609.6l-16.29-13.53,1.41-.75,14.87,12.47-2-19.34,1.35-.71L505,608.81Z"/>
		<path class="cls-12" d="M526,592.06a6.4,6.4,0,0,1-.35,4.78,8.54,8.54,0,0,1-3.81,3.67,8.18,8.18,0,0,1-7,.72q-3.3-1.28-5.61-5.63c-1.56-2.92-2.09-5.56-1.59-7.94a8,8,0,0,1,4.42-5.51,7.35,7.35,0,0,1,6.47-.57c2,.83,3.8,2.63,5.28,5.39l.46.88-13.65,7.27c1.32,2.48,2.9,4.08,4.76,4.8a6.94,6.94,0,0,0,6-.61,7.08,7.08,0,0,0,3.07-2.85,5.25,5.25,0,0,0,.38-3.75Zm-3.64-4.64c-1.27-2.38-2.73-3.93-4.37-4.62a6,6,0,0,0-5.39.51,6.67,6.67,0,0,0-3.62,4.31,9.75,9.75,0,0,0,1,6.39Z"/>
		<path class="cls-12" d="M532.77,594l-9.22-17.29,1.28-.69,1.6,3a7.49,7.49,0,0,1,4-6.3,8.82,8.82,0,0,1,1.33-.58l.5,1.33a7.72,7.72,0,0,0-1.2.51,6.51,6.51,0,0,0-2.18,1.81,7,7,0,0,0-1.19,2.67,4.94,4.94,0,0,0-.11,2,7.6,7.6,0,0,0,.85,2.23l5.66,10.62Z"/>
		<path class="cls-12" d="M564.8,576.92l-1.8-3.37a7.87,7.87,0,0,1-4.35,7.34,7.55,7.55,0,0,1-6.77.46,11.74,11.74,0,0,1-5.57-5.66c-1.52-2.86-2-5.47-1.54-7.84a7.9,7.9,0,0,1,4.32-5.47,8.29,8.29,0,0,1,4.26-1,6.87,6.87,0,0,1,3.9,1.42L552,552.84l1.28-.68,12.83,24.07Zm-5-9.48a11.4,11.4,0,0,0-2.39-3.21,6.58,6.58,0,0,0-2.9-1.51,6.94,6.94,0,0,0-4.78.78,6.44,6.44,0,0,0-3.62,4.61c-.37,2,.13,4.27,1.51,6.86a10.75,10.75,0,0,0,4.77,5,6.18,6.18,0,0,0,5.71-.33,7,7,0,0,0,3.36-3.61,7.35,7.35,0,0,0,.4-3.35,9.74,9.74,0,0,0-1.15-3.57Z"/>
		<path class="cls-12" d="M570.94,573.65l-9.22-17.3,1.28-.68,1.6,3a7.5,7.5,0,0,1,4-6.31,10,10,0,0,1,1.33-.58l.5,1.34a7.72,7.72,0,0,0-1.2.51,6.6,6.6,0,0,0-2.18,1.8,6.93,6.93,0,0,0-1.19,2.68,4.89,4.89,0,0,0-.11,2,7.6,7.6,0,0,0,.85,2.23L572.22,573Z"/>
		<path class="cls-12" d="M571,546.71l-1.66-3.1,1.35-.72,1.65,3.1Zm11.21,21L573,550.37l1.28-.69,9.22,17.3Z"/>
		<path class="cls-12" d="M600.78,557.75l-6-11.23a7.08,7.08,0,0,0-3.31-3.5,5,5,0,0,0-4.23.55A7.94,7.94,0,0,0,583.4,548a5.46,5.46,0,0,0-.38,2.5,7.91,7.91,0,0,0,1,2.68l5.58,10.49-1.28.69-9.22-17.3,1.29-.69,1.58,3a9.08,9.08,0,0,1,4.87-7.1,6.23,6.23,0,0,1,5.12-.67,7.62,7.62,0,0,1,4,3.92l6.15,11.53Z"/>
		<path class="cls-12" d="M619,548.06l-12.29-7.3-2.25,6.18,3.68,6.91-1.28.68L594,530.46l1.28-.69,8.39,15.75,5.13-14.25,1.62-.86-3.22,9.07,13.25,7.79Z"/>
		<path class="cls-12" d="M627.3,526.52a5.32,5.32,0,0,0-3.22-1.66,7.46,7.46,0,0,0-3.87,1.1q-5.1,2.71-3.19,6.29a3.12,3.12,0,0,0,2.12,1.75,8.21,8.21,0,0,0,3.88-.57l2.35-.78a10.19,10.19,0,0,1,5.17-.67,4.53,4.53,0,0,1,3,2.51,5.06,5.06,0,0,1,.33,4.65,8.79,8.79,0,0,1-4.14,3.88,9.69,9.69,0,0,1-5.79,1.37,5.85,5.85,0,0,1-4.14-2.71L621,541a4.9,4.9,0,0,0,3.39,2.09,8.28,8.28,0,0,0,4.62-1.2,7.72,7.72,0,0,0,3.46-3.06,3.78,3.78,0,0,0-.25-3.59,3.45,3.45,0,0,0-2.32-1.93,8.49,8.49,0,0,0-4.11.59l-2,.69a10.39,10.39,0,0,1-5.09.73,4.14,4.14,0,0,1-2.9-2.32,4.77,4.77,0,0,1-.23-4.45,8.75,8.75,0,0,1,4-3.77,8.61,8.61,0,0,1,4.82-1.23,6,6,0,0,1,3.87,2.1Z"/>
		<circle class="cls-8" cx="967.47" cy="1046.55" r="405.9"/>
	</g>
	<line class="cls-15" x1="218.83" y1="810.59" x2="453.43" y2="685.6"/>

</svg>